product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v4.1/profiles-submit-4.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/Profiles/ProfilesSubmit/4.1" targetNamespace="http://www.bazaarvoice.com/xs/Profiles/ProfilesSubmit/4.1"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="DisplayLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionHelpText" type="xs:string" minOccurs="0"/>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="inappropriate" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="AllSubjectsLinksType">
      <xs:all>
         <xs:element name="CategoryNavigationLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="SearchProductsSubmitLink" type="SearchSubmitLinkType" minOccurs="0"/>
         <xs:element name="BrowseAllProductsLink" type="SearchSubmitLinkType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="AllSubjectsType">
      <xs:all>
         <xs:element name="Links" type="AllSubjectsLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="AttributesType">
      <xs:sequence>
         <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:choice>
         <xs:element name="Value" type="OptionalLocalizedStringType" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="UrlValue" type="OptionalLocalizedUrlType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AvatarType">
      <xs:all>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="photo" type="xs:boolean" use="required"/>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ImageUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="DefinitionUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrandType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrowseType">
      <xs:all>
         <xs:element name="BrowseCategory" type="CategoryType" minOccurs="0"/>
         <xs:element name="Links" type="SearchLinksType" minOccurs="0"/>
         <xs:element name="Results" type="SearchResultsType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinkType">
      <xs:all>
         <xs:element name="CategoryLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Selected" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="IsExpandable" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubCategoryNavigationLinks" type="CategoryNavigationLinksType"
                     minOccurs="0"/>
         <xs:element name="InSelectedPath" type="xs:boolean" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinksType">
      <xs:sequence>
         <xs:element name="Link" type="CategoryNavigationLinkType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="RecursiveNumProducts" type="NonNegativeInt" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FormBooleanInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormHiddenInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="binding" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormInputContainerType" abstract="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="InputGroup" type="FormInputGroupType"/>
         <xs:element name="HiddenInput" type="FormHiddenInputType"/>
         <xs:element name="BooleanInput" type="FormBooleanInputType"/>
         <xs:element name="IntegerInput" type="FormIntegerInputType"/>
         <xs:element name="SelectInput" type="FormSelectInputType"/>
         <xs:element name="TextAreaInput" type="FormTextAreaInputType"/>
         <xs:element name="TextInput" type="FormTextInputType"/>
         <xs:element name="FileInput" type="FormFileInputType"/>
         <xs:element name="SubmitInput" type="FormSubmitInputType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="FormInputGroupType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
            <xs:attribute name="required" type="xs:boolean"/>
            <xs:attribute name="hasError" type="xs:boolean"/>
            <xs:attribute name="errorMessage" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FormIntegerInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="minimum" type="xs:int"/>
            <xs:attribute name="maximum" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormSelectInputType">
      <xs:sequence>
         <xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:attribute name="value" type="xs:string"/>
               <xs:attribute name="label" type="xs:string"/>
               <xs:attribute name="selected" type="xs:boolean"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="formInputAttrGroup"/>
      <xs:attribute name="lowLabel" type="xs:string"/>
      <xs:attribute name="highLabel" type="xs:string"/>
      <xs:attribute name="disabled" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="FormSubmitInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormFileInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="accept" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormTextAreaInputType">
      <xs:simpleContent>
         <xs:extension base="FormTextInputType"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormTextInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="maxLength" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="action" type="xs:anyURI" use="required"/>
            <xs:attribute name="accept-charset" type="xs:string" use="required"/>
            <xs:attribute name="enctype" type="xs:string"/>
            <xs:attribute name="method" type="xs:string" use="required"/>
            <xs:attribute name="hasError" type="xs:boolean"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MediaUploadResultType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="MediaUploadForm" type="FormType" minOccurs="0"/>
         <xs:element name="ErrorMessages" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="hasError" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="MessageType">
      <xs:all>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MessageCode" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Message" type="MessageType" minOccurs="0"/>
         <xs:element name="AllSubjects" type="AllSubjectsType" minOccurs="0"/>
         <xs:element name="Search" type="SearchType" minOccurs="0"/>
         <xs:element name="Browse" type="BrowseType" minOccurs="0"/>
         <xs:element name="UserProfile" type="ReviewerType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PagesLinksType">
      <xs:sequence>
         <xs:element name="Link" type="PageLinkType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PageLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="page" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="UploadName" type="xs:string" minOccurs="0"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
         <xs:element name="ErrorMessages" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="inappropriate" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Brand" type="BrandType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ProductReferencesType">
      <xs:sequence>
         <xs:element name="ProductReference" type="ProductReferenceType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductReferenceType">
      <xs:all>
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="inappropriate" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="Label1" type="xs:string" minOccurs="0"/>
         <xs:element name="Label2" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="displayType">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL"/>
               <xs:enumeration value="SLIDER"/>
               <xs:enumeration value="RADIO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RatingValueType">
      <xs:all>
         <xs:element name="Rating" type="xs:int"/>
         <xs:element name="Label" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingValuesType">
      <xs:sequence>
         <xs:element name="RatingValue" type="RatingValueType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RedirectType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TargetUrl" type="xs:string"/>
         <xs:element name="TargetParent" type="xs:boolean"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RedirectFormType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="RedirectForm" type="FormType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all>
         <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="Links" type="ReviewerLinksType" minOccurs="0"/>
         <xs:element name="Avatar" type="AvatarType" minOccurs="0"/>
         <xs:element name="Location" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="LatestSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ModerationStatus" type="ModerationStatusType" minOccurs="0"/>
         <xs:element name="DisplayNameInappropriate" type="xs:boolean" minOccurs="0"/>
         <xs:element name="LocationInappropriate" type="xs:boolean" minOccurs="0"/>
         <xs:element name="TypicalHoursToPost" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="AgreedToTermsAndConditions" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubmitForm" type="FormType" minOccurs="0"/>
         <xs:element name="LastPublishTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ApprovedVersion" type="ReviewerType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerLinksType">
      <xs:all>
         <xs:element name="ProfilePublicPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="EditOwnProfilePageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="PhotoUploadLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SearchProductsSubmitLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SearchType">
      <xs:all>
         <xs:element name="Query" type="SearchQueryType"/>
         <xs:element name="Links" type="SearchLinksType" minOccurs="0"/>
         <xs:element name="Results" type="SearchResultsType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SearchQueryType">
      <xs:all>
         <xs:element name="SearchText" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SearchLinksType">
      <xs:all>
         <xs:element name="ProductsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SearchResultsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Product" type="ProductType"/>
      </xs:choice>
      <xs:attribute name="numTotalMatches" type="NonNegativeInt" use="required"/>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
   </xs:complexType>
   <xs:complexType name="SearchSubmitLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="selected" type="xs:boolean"/>
            <xs:attribute name="scopeType" type="SearchQueryScopeTypeEnum"/>
            <xs:attribute name="scopeName" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="TestEnvironmentName" type="xs:string" minOccurs="0"/>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="Format" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="UploadName" type="xs:string" minOccurs="0"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="ErrorMessages" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="inappropriate" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ModerationStatusType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="NONE"/>
         <xs:enumeration value="SUBMITTED"/>
         <xs:enumeration value="APPROVED"/>
         <xs:enumeration value="HOLD"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="REMOVEDBYCLIENT"/>
         <xs:enumeration value="REMOVEDTEST"/>
         <xs:enumeration value="AUTOMATEDHOLD"/>
         <xs:enumeration value="EXPIRED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SearchQueryScopeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="All"/>
         <xs:enumeration value="Category"/>
         <xs:enumeration value="Product"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:attributeGroup name="formInputAttrGroup">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="labelHelpText" type="xs:string"/>
      <xs:attribute name="required" type="xs:boolean"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="errorMessage" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="Model" type="ModelType"/>
   <xs:element name="MediaUploadResult" type="MediaUploadResultType"/>
   <xs:element name="Redirect" type="RedirectType"/>
   <xs:element name="RedirectForm" type="RedirectFormType"/>
</xs:schema>