schemas/expedia/src/main/xsd/external/expedia/expedia-bv-api-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
           xmlns:api="http://www.bazaarvoice.com/Expedia/API/1.0"
           targetNamespace="http://www.bazaarvoice.com/Expedia/API/1.0">

    <xs:element name="ReviewDetailedRequest">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="Review">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="ClauseList" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="OR" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AND" type="api:AttributeListType"/>
                                                </xs:sequence>
                                                <xs:attribute name="MaxCount" type="xs:int" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="MaxCount" type="xs:int" use="required"/>
                        <xs:attribute name="LobId" type="xs:int" use="required"/>
                        <xs:attribute name="SkuGroupId" type="xs:int" use="required"/>
                        <xs:attribute name="OldestSubmissionDate" type="xs:dateTime" use="required"/>
                        <xs:attribute name="NewestPublishDate" type="xs:dateTime" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReviewDetailedResponse">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="ReviewList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Review" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="RatingList" type="api:RatingListType" minOccurs="0"/>
                                        <xs:element name="AttributeList" type="api:AttributeListType" minOccurs="0"/>
                                        <xs:element name="ClientResponse" type="api:ClientResponseType" minOccurs="0">
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="ReviewId" type="xs:string" use="required"/>
                                    <xs:attribute name="LobId" type="xs:int" use="required"/>
                                    <xs:attribute name="SkuGroupId" type="xs:int" use="required"/>
                                    <xs:attribute name="SubmissionDate" type="xs:dateTime" use="required"/>
                                    <xs:attribute name="Tuid" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReviewSubmitRequest">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="Review">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="RatingList" type="api:RatingListType" minOccurs="0"/>
                            <xs:element name="AttributeList" type="api:AttributeListType" minOccurs="0"/>
                        </xs:all>
                        <xs:attribute name="LobId" type="xs:int" use="required"/>
                        <xs:attribute name="SkuGroupId" type="xs:int" use="required"/>
                        <xs:attribute name="SubmissionDate" type="xs:dateTime" use="required"/>
                        <xs:attribute name="Tuid" type="xs:int" use="required"/>
                        <xs:attribute name="ItinId" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="ReviewSubmitResponse">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="Review">
                    <xs:complexType>
                        <xs:attribute name="SubmissionId" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RatingListType">
        <xs:sequence>
            <xs:element name="Rating" type="api:RatingType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RatingType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attribute name="Id" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AttributeListType">
        <xs:sequence>
            <xs:element name="Attribute" type="api:AttributeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AttributeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Id" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ClientResponseType">
        <xs:complexContent>
            <xs:extension base="api:AttributeListType">
                <xs:attribute name="ResponseDate" type="xs:dateTime" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
