schemas/client-bundles/src/main/xsd/external/clientBundles/client-bundles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://www.bazaarvoice.com/xs/ClientBundle/1.0"
           targetNamespace="http://www.bazaarvoice.com/xs/ClientBundle/1.0">

    <xs:complexType name="RefType">
        <xs:annotation>
            <xs:documentation>
                A reference to a bundleConfiguration.xml in another customer directory indicating
                that the client in the current directory belongs to the referenced bundle.  For
                every bundle containing multiple clients there must be one "primary" client with a
                bundleConfiguration.xml that lists all the clients and display codes in the bundle
                and there must be N-1 "secondary" clients with bundleConfiguration.xml files that
                reference the primary client.
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="bundle" type="ClientDirType">
            <xs:annotation>
                <xs:documentation>
                    The name of the customer directory containing the "primary" client that has the
                    bundleConfiguration.xml that defines the bundle that contains this client.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="BundleType">
        <xs:annotation>
            <xs:documentation>
                A bundle of related clients and display codes.  Display codes in a bundle may
                inherit only from other display codes in the same bundle or in the "default"
                bundle.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="client" type="ClientType" maxOccurs="unbounded"/>
        </xs:sequence>

        <xs:attribute name="name" type="ClientDirType" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the customer directory containing this bundleConfiguration.xml.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="uiVersion" type="VersionNumberType" use="required">
            <xs:annotation>
                <xs:documentation>
                    A version number such as "4.7" indicating the version of the "default" UI
                    templates that all display codes in this bundle were developed against and
                    should use at runtime.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="cluster" type="ClusterType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The cluster this bundle should be installed to (eg. "c1", "c2", ...) or "all"
                    if this bundle should be installed to all clusters (eg. the default bundle).
                    Defaults to "none".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="enabled" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Set to "false" if this bundle belongs to a client that has terminated and
                    should not be installed in any production/staging-type environment.
                    Defaults to "true".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ClientType">
        <xs:annotation>
            <xs:documentation>
                A Client in the database.
            </xs:documentation>
        </xs:annotation>

        <xs:choice maxOccurs="unbounded">
            <xs:element name="display" type="DisplayType">
                <xs:annotation>
                    <xs:documentation>
                        A display code that inherits and overrides the settings, templates
                        properties and static resources from the specified "inherit" display code,
                        for the same language and country.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="localeVariant" type="DisplayType">
                <xs:annotation>
                    <xs:documentation>
                        A locale variant display code that has generally the same settings and
                        templates as the specified "inherit" display code, but for a different
                        language or country.  The "locale" attribute of a locale variant should be
                        a child of the "inherit" display's locale.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="localeVariants" type="LocaleVariantsType"/>
        </xs:choice>

        <xs:attribute name="name" type="ClientNameType" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the "Client" record in the database for this client.  This value
                    must match the database Client.Name field exactly, including matching on case.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="dir" type="ClientDirType" use="required">
            <xs:annotation>
                <xs:documentation>
                    The name of the customer directory containing configuration, template,
                    properties and static resource files for this client.  This value must match
                    the directory name exactly, including matching on case. For the "primary"
                    client in a bundle, this value must match the bundle name.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DisplayType">
        <xs:sequence>
            <xs:element name="app" type="AppType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="display" type="DisplayType">
                    <xs:annotation>
                        <xs:documentation>
                            A child display code that inherits and overrides the settings,
                            templates, properties and static resources from the enclosing display
                            code, for the same language and country.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="localeVariant" type="DisplayType">
                    <xs:annotation>
                        <xs:documentation>
                            A child locale variant display code that has generally the same
                            settings and templates as the enclosing display code, but for a
                            different language or country. The "locale" attribute of a locale
                            variant is usually a child of the enclosing display's locale.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>

        <xs:attribute name="code" type="DisplayCodeType" use="required">
            <xs:annotation>
                <xs:documentation>
                    The display code for this display or locale variant.  This must be unique
                    across all Bazaarvoice clients.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="apps" type="AppNamesType" use="optional"/>

        <xs:attributeGroup ref="SiteAttributesGroup"/>

        <xs:attribute name="localeVariants" type="LocalesType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    A comma or whitespace-separated list of locale codes.  For each locale, a
                    &lt;localeVariant> display code will be generated automatically assuming standard
                    display code naming conventions.
                    This is a short-cut to specifying large sets of locale variant display codes
                    individually using the &lt;localeVariant> element.
                    <br/>
                    IMPORTANT: the "localeVariants" attribute is inherited across &lt;display> elements.
                    This makes it easy to generate large numbers of locale variant displays with just a
                    few lines of XML.
                    <br/>
                    The following are equivalent:
                    <pre>
  &lt;display code="1234" inherit="0000" apps="reviews" locale="en_US">
    &lt;localeVariant code="1234-en" locale="en">
      &lt;localeVariant code="1234-en_gb" locale="en_GB"/>
    &lt;/localeVariant>
    &lt;display code="1234b">
      &lt;localeVariant code="1234b-en" locale="en">
        &lt;localeVariant code="1234b-en_gb" locale="en_GB"/>
      &lt;/localeVariant>
    &lt;/display>
  &lt;/display></pre>
                    and
                    <pre>
  &lt;display code="1234" inherit="0000" apps="reviews" locale="en_US" localeVariants="en en_GB">
    &lt;display code="1234b"/>
  &lt;/display></pre>
                    The list of locales codes can be split across multiple lines if it gets long.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="AppType">
        <xs:annotation>
            <xs:documentation>
                Display code configuration information that is specific to a particular Bazaarvoice
                application.
                <br/>
                Most of the time, the applications for a given display code have the same display
                code so there's no need to use the &lt;app> element.  But, especially for legacy
                configurations, it is possible to use the &lt;app> element to specify applications
                for the same display code that have different inheritance hierarchies, locales or
                active flags.
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="apps" type="AppNamesType" use="required"/>

        <xs:attributeGroup ref="SiteAttributesGroup"/>
    </xs:complexType>


    <xs:complexType name="LocaleVariantsType">
        <xs:annotation>
            <xs:documentation>
                Generates a &lt;localeVariant display code for each combination of "inherit" display
                code and "locales" locale code assuming standard display code naming conventions.
                This is a short-cut to specifying large sets of locale variant display codes
                individually using the &lt;localeVariant> element.
                <br/>
                Typically, this element is used to create a set of locale variants for a
                locale-specific client that has no top-level &lt;display> elements of its own.
                <br/>
                The &lt;localeVariants> tags will be processed in the order they appear in the
                bundleConfiguration.xml file and after all regular display codes are processed.
                So a regular &lt;display> or &lt;localeVariant> display cannot inherit from one
                of these generated displays, and a generated display can inherit from another
                generated displays only if it occurs after its parent display in the
                bundleConfiguration.xml file.
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="inherit" type="DisplayCodesType" use="required">
            <xs:annotation>
                <xs:documentation>
                    A comma or whitespace-separated list of display codes.
                    The list of display codes can be split across multiple lines if it gets long.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="locales" type="LocalesType" use="required">
            <xs:annotation>
                <xs:documentation>
                    A comma or whitespace-separated list of locale codes.
                    The list of locale codes can be split across multiple lines if it gets long.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="apps" type="AppNamesType" use="optional"/>

        <xs:attribute name="active" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Set this to "false" for a site configuration that exists only so that other
                    display codes can inherit from it.  The server won't respond to requests to
                    this display code and the app won't appear enabled.
                    <br/>
                    This defaults to "true" and is NOT inherited by subdisplays.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>

    <!-- ** Attribute Groups **************************************************** -->

    <xs:attributeGroup name="SiteAttributesGroup">

        <xs:attribute name="inherit" type="DisplayCodeType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The primary display code to inherit from for Spring bean inheritance.
                    <br/>
                    For top-level displays, the "inherit" attribute is required--it must be set on
                    the &lt;display>, &lt;localeVariant> or &lt;app> element.
                    <br/>
                    For nested displays, the "inherit" attribute is not allowed--its value is
                    always the display code of the enclosing &lt;display> or &lt;localeVariant>
                    element.
                    <br/>
                    For &lt;display> elements, the "inherit" attribute and the "parent" code are
                    usually the same.
                    <br/>
                    For &lt;localeVariant> elements, the "inherit" attribute and the "localeParent"
                    code are usually the same.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="parent" type="DisplayCodeType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The display code to inherit from that has the same locale as this display, or
                    the string "null" to specify no parent code.  For example, the parent of
                    "1234-fr_ca" is usually "0000-fr_ca" if the parent of "1234" is "0000.
                    <br/>
                    Normally, there is no need to specify an explicit "parent" attribute because
                    the default value chosen based on the "inherit" attribute is usually correct.
                    The default value of "parent" is calculated differently depending on whether
                    this is a &lt;display> or a &lt;localeVariant> element.
                    <br/>
                    See <a href="https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup">https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup</a>
                    for a more complete explanation of display code inheritance--the "parent" attribute
                    corresponds to the upward-pointing arrows in the diagrams on that page.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="localeParent" type="DisplayCodeType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The display code to inherit from that has the same display code except that it
                    is for the parent locale of this display's locale, or the string "null" to
                    specify no locale parent code.  For example, the "localeParent" of "1234-fr_ca"
                    is usually "1234-fr" since the parent of locale "fr_CA" is "fr".
                    <br/>
                    Normally, there is no need to specify an explicit "localeParent" attribute
                    because the default value chosen based on the "inherit" attribute is usually
                    correct.  The default "localeParent" is calculated differently depending on
                    whether this is a &lt;display> or a &lt;localeVariant> element.
                    <br/>
                    See <a href="https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup">https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup</a>
                    for a more complete explanation of locale parents--this "localeParent" defines
                    the left-pointing arrows in the diagrams on that page.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="locale" type="LocaleType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The language and country of the locale to use for this display, eg. "en_US" or
                    "fr_CA".
                    <br/>
                    The "locale" attribute is required for &lt;localeVariant> elements and for
                    &lt;display> elements that inherit from the default bundle (eg. "0000").
                    <br/>
                    For child &lt;display> elements, "locale" is optional.  It's value will be
                    inherited from the "inherit" display code.
                    <br/>
                    See <a href="https://bits.bazaarvoice.com/confluence/display/BVC/Internationalization+Guide">https://bits.bazaarvoice.com/confluence/display/BVC/Internationalization+Guide</a>
                    and <a href="https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup">https://bits.bazaarvoice.com/confluence/display/BVC/DA-CustomerResourceLookup</a>
                    for more information about locales.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="active" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Set this to "false" for a site configuration that exists only so that other
                    display codes can inherit from it.  The server won't respond to requests to
                    this display code and the app won't appear enabled.
                    <br/>
                    This defaults to "true" and is NOT inherited by subdisplays.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>


    <!-- ** Simple Types **************************************************** -->

    <xs:simpleType name="AppNamesType">
        <xs:annotation>
            <xs:documentation>
                A list of comma-separated names of Bazaarvoice applications: "reviews",
                "qa", "stories", "profiles".
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:string">
            <!-- this pattern allows 1 or more application name separated by commas and/or whitespace -->
            <xs:pattern value="(reviews|qa|stories|profiles)([ ,]+(reviews|qa|stories|profiles))*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientNameType">
        <xs:restriction base="xs:string">
            <!-- matches ClientInstallService.VALID_CLIENT_NAME_PATTERN -->
            <xs:pattern value="[\.a-zA-Z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientDirType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClusterType">
        <xs:restriction base="xs:string">
            <!-- this pattern allows 1 or more cluster names separated by commas and/or whitespace, or "all" or "none" -->
            <xs:pattern value="c[1-9][0-9]*([ ,]+c[1-9][0-9]*)*|all|none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DisplayCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z0-9_\-]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DisplayCodesType">
        <xs:restriction base="xs:string">
            <!-- this pattern allows 1 or more display codes separated by commas and/or whitespace broken over multiple lines -->
            <xs:pattern value="[ \t\n]*[a-z0-9_\-]+([, \t\n]+[a-z0-9_\-]+)*[ \t\n]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LocaleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LocalesType">
        <xs:restriction base="xs:string">
            <!-- this pattern allows 0 or more locale strings separated by commas and/or whitespace broken over multiple lines -->
            <xs:pattern value="[ \t\n]*([a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?([, \t\n]+[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?)*)?[ \t\n]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VersionNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+(\.[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ** Top Level Elements **************************************************** -->

    <xs:element name="bundle" type="BundleType"/>

    <xs:element name="ref" type="RefType"/>

</xs:schema>
