product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v4.0/profiles-display-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/Profiles/ProfilesDisplay/4.0" targetNamespace="http://www.bazaarvoice.com/xs/Profiles/ProfilesDisplay/4.0"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="DisplayLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AnswerType">
      <xs:all>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="AnswerText" type="xs:string" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AnswersType">
      <xs:sequence>
         <xs:element name="Answer" type="AnswerType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributesType">
      <xs:sequence>
         <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:choice>
         <xs:element name="Value" type="OptionalLocalizedStringType" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="UrlValue" type="OptionalLocalizedUrlType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AvatarType">
      <xs:all>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="photo" type="xs:boolean" use="required"/>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ImageUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="DefinitionUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrandType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
         <xs:element name="Stories" type="StoriesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CommentStatisticsType">
      <xs:all>
         <xs:element name="NumComments" type="NonNegativeInt"/>
         <xs:element name="HelpfulVoteCount" type="NonNegativeInt"/>
         <xs:element name="NotHelpfulVoteCount" type="NonNegativeInt"/>
         <xs:element name="FirstSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="FeaturedCommentCount" type="NonNegativeInt" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CommentType">
      <xs:all>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="CommentText" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CommentsType">
      <xs:sequence>
         <xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContentRatingFeedbackType">
      <xs:all>
         <xs:element name="Range" type="xs:int"/>
         <xs:element name="NumRatingFeedbacks" type="xs:int"/>
         <xs:element name="ComputedScore" type="xs:float" minOccurs="0"/>
         <xs:element name="AverageScore" type="xs:float" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageLargeUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FacebookUserType">
      <xs:all>
         <xs:element name="FullName" type="xs:string" minOccurs="1"/>
         <xs:element name="SquarePicUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="NonNegativeLong" use="required"/>
   </xs:complexType>
   <xs:complexType name="MessageType">
      <xs:all>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MessageCode" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Message" type="MessageType" minOccurs="0"/>
         <xs:element name="UserProfile" type="ReviewerType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
         <xs:element name="ClientBadges" type="BadgesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PagesLinksType">
      <xs:sequence>
         <xs:element name="Link" type="PageLinkType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PageLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="page" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PaginationLinksType">
      <xs:all>
         <xs:element name="FirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="PreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="NextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AllPagesLinks" type="PagesLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Brand" type="BrandType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
         <xs:element name="Stories" type="StoriesType" minOccurs="0"/>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Reviews" type="ReviewsType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ProductReferencesType">
      <xs:sequence>
         <xs:element name="ProductReference" type="ProductReferenceType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductReferenceType">
      <xs:all>
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="QAStatisticsType">
      <xs:all>
         <xs:element name="TotalQuestionsCount" type="xs:int"/>
         <xs:element name="TotalAnswersCount" type="xs:int"/>
         <xs:element name="QuestionHelpfulVoteCount" type="xs:int"/>
         <xs:element name="QuestionNotHelpfulVoteCount" type="xs:int"/>
         <xs:element name="AnswerHelpfulVoteCount" type="xs:int"/>
         <xs:element name="AnswerNotHelpfulVoteCount" type="xs:int"/>
         <xs:element name="FirstQuestionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="FirstAnswerTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastQuestionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastAnswerTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="FeaturedQuestionsCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FeaturedAnswersCount" type="xs:int" minOccurs="0"/>
         <xs:element name="BestAnswersCount" type="xs:int" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="QuestionType">
      <xs:all>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="QuestionSummary" type="xs:string" minOccurs="0"/>
         <xs:element name="QuestionDetails" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Answers" type="AnswersType" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="QuestionsType">
      <xs:sequence>
         <xs:element name="Question" type="QuestionType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="Label1" type="xs:string" minOccurs="0"/>
         <xs:element name="Label2" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="displayType">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL"/>
               <xs:enumeration value="SLIDER"/>
               <xs:enumeration value="RADIO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RatingDistributionItemType">
      <xs:all>
         <xs:element name="RatingValue" type="xs:int"/>
         <xs:element name="Count" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingDistributionType">
      <xs:sequence>
         <xs:element name="RatingDistributionItem" type="RatingDistributionItemType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingValueType">
      <xs:all>
         <xs:element name="Rating" type="xs:int"/>
         <xs:element name="Label" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingValuesType">
      <xs:sequence>
         <xs:element name="RatingValue" type="RatingValueType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsType">
      <xs:all>
         <xs:element name="AverageOverallRating" minOccurs="0" type="xs:float"/>
         <xs:element name="OverallRatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="OverallRatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TotalReviewCount" type="xs:int"/>
         <xs:element name="RatingsOnlyReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="RecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="NotRecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FeaturedReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="HelpfulVoteCount" type="xs:int" minOccurs="0"/>
         <xs:element name="NotHelpfulVoteCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FirstSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewLinksType">
      <xs:all>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:all>
         <xs:element name="Reviewer" type="ReviewerType" minOccurs="0"/>
         <xs:element name="RatingsOnly" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewText" type="xs:string" minOccurs="0"/>
         <xs:element name="Pros" type="xs:string" minOccurs="0"/>
         <xs:element name="Cons" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Rating" type="xs:int" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="Recommended" type="xs:boolean" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="Featured" type="xs:boolean"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="Links" type="ReviewLinksType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all>
         <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="ContributorRank" type="xs:string"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="Links" type="ReviewerLinksType" minOccurs="0"/>
         <xs:element name="QAStatistics" type="QAStatisticsType" minOccurs="0"/>
         <xs:element name="QuestionContent" type="ReviewerQAContentType" minOccurs="0"/>
         <xs:element name="AnswerContent" type="ReviewerQAContentType" minOccurs="0"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="ReviewedProducts" type="ReviewedProductsType" minOccurs="0"/>
         <xs:element name="StoryStatistics" type="StoryStatisticsType" minOccurs="0"/>
         <xs:element name="StoryContent" type="ReviewerStoriesContentType" minOccurs="0"/>
         <xs:element name="StoryCommentStatistics" type="CommentStatisticsType" minOccurs="0"/>
         <xs:element name="StoryCommentContent" type="ReviewerCommentContentType" minOccurs="0"/>
         <xs:element name="Avatar" type="AvatarType" minOccurs="0"/>
         <xs:element name="Location" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="FacebookInfo" type="FacebookUserType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerCommentContentType">
      <xs:complexContent>
         <xs:extension base="ReviewerContentType">
            <xs:sequence>
               <xs:element name="CommentPaginationLinks" type="PaginationLinksType" minOccurs="0"/>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Product" type="ProductType"/>
                  <xs:element name="Category" type="CategoryType"/>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReviewerContentType">
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="totalCount" type="NonNegativeInt" use="optional" default="0"/>
   </xs:complexType>
   <xs:complexType name="ReviewerLinksType">
      <xs:all>
         <xs:element name="SubmissionsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="ProfileEditPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UserProfileLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewedProductsType">
      <xs:complexContent>
         <xs:extension base="ReviewerContentType">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element name="Product" type="ProductType"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReviewerQAContentType">
      <xs:complexContent>
         <xs:extension base="ReviewerContentType">
            <xs:sequence>
               <xs:element name="QuestionsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
               <xs:element name="QuestionsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
               <xs:element name="QuestionsNextPageLink" type="xs:anyURI" minOccurs="0"/>
               <xs:element name="QuestionsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Product" type="ProductType"/>
                  <xs:element name="Category" type="CategoryType"/>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReviewerStoriesContentType">
      <xs:complexContent>
         <xs:extension base="ReviewerContentType">
            <xs:sequence>
               <xs:element name="StoryPaginationLinks" type="PaginationLinksType" minOccurs="0"/>
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Product" type="ProductType"/>
                  <xs:element name="Category" type="CategoryType"/>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReviewsType">
      <xs:sequence>
         <xs:element name="Review" type="ReviewType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="TestEnvironmentName" type="xs:string" minOccurs="0"/>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="Format" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
         <xs:element name="RRStaticResourceBaseUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="QAStaticResourceBaseUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SYStaticResourceBaseUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="StoryLinksType">
      <xs:all>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="StoryStatisticsType">
      <xs:all>
         <xs:element name="NumStories" type="NonNegativeInt"/>
         <xs:element name="HelpfulVoteCount" type="NonNegativeInt"/>
         <xs:element name="NotHelpfulVoteCount" type="NonNegativeInt"/>
         <xs:element name="FirstSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="FeaturedStoryCount" type="NonNegativeInt" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="StoryType">
      <xs:all>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="StoryRatingFeedback" type="ContentRatingFeedbackType" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="StoryText" type="xs:string" minOccurs="0"/>
         <xs:element name="NumComments" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Comments" type="CommentsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Links" type="StoryLinksType" minOccurs="0"/>
         <xs:element name="Highlighted" type="xs:boolean" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="StoriesType">
      <xs:sequence>
         <xs:element name="Story" type="StoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsInDimensionType">
      <xs:sequence>
         <xs:element name="Tag" type="TagType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="Tags" type="TagsInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoUrl" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Model" type="ModelType"/>
</xs:schema>