product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v4.0/reviews-display-4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/PRR/ReviewsDisplay/4.0" targetNamespace="http://www.bazaarvoice.com/xs/PRR/ReviewsDisplay/4.0"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="DisplayLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AllSubjectsLinksType">
      <xs:all>
         <xs:element name="AllReviewsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="CategoryNavigationLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="MostPopularProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="TopRatedProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="CategoryShoppingLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="AllSubjectsType">
      <xs:all>
         <xs:element name="Links" type="AllSubjectsLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="AttributeFilteringDimension">
      <xs:all>
         <xs:element name="Label" type="xs:string" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="AttributeFilteringLinks" type="AttributeFilteringLinksInDimensionType"/>
         <xs:element name="InitiallyVisibleOptionsCount" type="NonNegativeInt" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="disabled" type="xs:boolean"/>
      <xs:attribute name="expanded" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="AttributeFilteringLinksInDimensionType">
      <xs:sequence>
         <xs:element name="AttributeFilteringLink" type="AttributeFilteringLinkType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeFilteringLinksType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="ContextDataDimension" type="AttributeFilteringDimension"/>
         <xs:element name="OverallRating" type="AttributeFilteringDimension"/>
         <xs:element name="RatingDimension" type="AttributeFilteringDimension"/>
         <xs:element name="BadgeGroup" type="AttributeFilteringDimension"/>
         <xs:element name="ContentSource" type="AttributeFilteringDimension"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="AttributeFilteringLinkType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="Link" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MatchCount" type="NonNegativeInt"/>
      </xs:all>
      <xs:attribute name="selected" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="AttributesType">
      <xs:sequence>
         <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:choice>
         <xs:element name="Value" type="OptionalLocalizedStringType" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="UrlValue" type="OptionalLocalizedUrlType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:choice>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AvatarType">
      <xs:all>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="photo" type="xs:boolean" use="required"/>
   </xs:complexType>
   <xs:complexType name="AverageRatingValueType">
      <xs:all>
         <xs:element name="AverageRating" type="xs:float"/>
         <xs:element name="AverageRatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
         <xs:element name="TotalReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AverageRatingValuesType">
      <xs:sequence>
         <xs:element name="AverageRatingValue" type="AverageRatingValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ImageUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="DefinitionUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrandType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="removed" type="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="disabled" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="CategoriesType">
      <xs:sequence>
         <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryLinksType">
      <xs:all>
         <xs:element name="AllReviewsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TopRatedProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="MostPopularProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="BreadcrumbLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="CategoryNavigationLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="CategoryShoppingCurrentCategoryLink" type="CategoryNavigationLinkType"
                     minOccurs="0"/>
         <xs:element name="CategoryShoppingLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="ProductsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="ProductsSortLinks" type="SortLinksType" minOccurs="0"/>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinkType">
      <xs:all>
         <xs:element name="CategoryLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Selected" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="IsExpandable" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubCategoryNavigationLinks" type="CategoryNavigationLinksType"
                     minOccurs="0"/>
         <xs:element name="InSelectedPath" type="xs:boolean" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinksType">
      <xs:sequence>
         <xs:element name="Link" type="CategoryNavigationLinkType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="CategoryPath" type="CategoriesType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewsPageTitle" minOccurs="0" type="xs:string"/>
         <xs:element name="ReviewsPageMetaDescription" minOccurs="0" type="xs:string"/>
         <xs:element name="CategoryStoriesUrl" type="CategoryNavigationLinkType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="NumStories" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="RecursiveNumReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="RecursiveNumRatingOnlyReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="CategoryLinksType" minOccurs="0"/>
         <xs:element name="Products" type="ProductsType" minOccurs="0"/>
         <xs:element name="FacebookMode" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="InternalId" type="xs:long" use="optional"/>
      <xs:attribute name="removed" type="xs:boolean" use="optional" default="false"/>
      <xs:attribute name="disabled" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="ChangedContentType">
      <xs:all>
         <xs:element name="Criteria">
            <xs:complexType>
               <xs:all>
                  <xs:element name="StartTimestamp" type="xs:dateTime"/>
                  <xs:element name="EndTimestamp" type="xs:dateTime"/>
               </xs:all>
            </xs:complexType>
         </xs:element>
         <xs:element name="ChangedProducts" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Id" type="ExternalIdType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ChangedCategories" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Id" type="ExternalIdType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ChangedReviewers" minOccurs="0">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="Id" type="ExternalIdType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="DisplayName" type="ExternalIdType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ClientResponsesType">
      <xs:sequence>
         <xs:element name="ClientResponse" type="ClientResponseType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClientResponseType">
      <xs:all>
         <xs:element name="Department" type="xs:string" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Response" type="xs:string" minOccurs="0"/>
         <xs:element name="ResponseMarkup" type="MarkupType" minOccurs="0"/>
         <xs:element name="ResponseType" type="xs:string" minOccurs="0"/>
         <xs:element name="ResponseSource" type="xs:string" minOccurs="0"/>
         <xs:element name="Date" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContentSourceType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="LogoImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ContentLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EansType">
      <xs:sequence>
         <xs:element name="EAN" minOccurs="1" maxOccurs="unbounded" type="EanType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HelpfulReviewsLinksType">
      <xs:all>
         <xs:element name="NumPositiveReviews" type="xs:int" minOccurs="0"/>
         <xs:element name="AllPositiveReviewsLink" type="xs:string" minOccurs="0"/>
         <xs:element name="NumCriticalReviews" type="xs:int" minOccurs="0"/>
         <xs:element name="AllCriticalReviewsLink" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="IsbnsType">
      <xs:sequence>
         <xs:element name="ISBN" minOccurs="1" maxOccurs="unbounded" type="IsbnType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LinkTextType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="href" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ManufacturerPartNumbersType">
      <xs:sequence>
         <xs:element name="ManufacturerPartNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MarkupType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="HighlightText" type="xs:string"/>
         <xs:element name="PlainText" type="xs:string"/>
         <xs:element name="LinkText" type="LinkTextType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="MessageType">
      <xs:all>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MessageCode" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ModelNumbersType">
      <xs:sequence>
         <xs:element name="ModelNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Message" type="MessageType" minOccurs="0"/>
         <xs:element name="AllSubjects" type="AllSubjectsType" minOccurs="0"/>
         <xs:element name="Product" type="ProductType" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="UserProfile" type="ReviewerType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
         <xs:element name="ClientBadges" type="BadgesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PagesLinksType">
      <xs:sequence>
         <xs:element name="Link" type="PageLinkType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PageLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="page" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductLinksType">
      <xs:all>
         <xs:element name="WriteReviewLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="WriteReviewApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="ReviewsSortLinks" type="SortLinksType" minOccurs="0"/>
         <xs:element name="AllReviewsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TopRatedProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="MostPopularProductsLinks" type="RankedProductLinksType" minOccurs="0"/>
         <xs:element name="RemoveAllFilteringLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TagFilteringLinks" type="TagFilteringLinksType" minOccurs="0"/>
         <xs:element name="AttributeFilteringLinks" type="AttributeFilteringLinksType" minOccurs="0"/>
         <xs:element name="HelpfulReviewsLinks" type="HelpfulReviewsLinksType" minOccurs="0"/>
         <xs:element name="BreadcrumbLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="CategoryNavigationLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="CategoryShoppingCurrentCategoryLink" type="CategoryNavigationLinkType"
                     minOccurs="0"/>
         <xs:element name="CategoryShoppingLinks" type="CategoryNavigationLinksType" minOccurs="0"/>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Brand" type="BrandType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="NumQuestions" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumRatingOnlyReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumStories" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="ProductLinksType" minOccurs="0"/>
         <xs:element name="CategoryName" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPath" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductReviewsUrlMinimal" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewsPageTitle" minOccurs="0" type="xs:string"/>
         <xs:element name="ReviewsPageMetaDescription" minOccurs="0" type="xs:string"/>
         <xs:element name="ProductQuestionsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductQuestionsUrlMinimal" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductStoriesUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ModelNumbers" minOccurs="0" type="ModelNumbersType"/>
         <xs:element name="ManufacturerPartNumbers" minOccurs="0" type="ManufacturerPartNumbersType"/>
         <xs:element name="EANs" minOccurs="0" type="EansType"/>
         <xs:element name="UPCs" minOccurs="0" type="UpcsType"/>
         <xs:element name="ISBNs" minOccurs="0" type="IsbnsType"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="FilteredReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="RatingsOnlyReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="ReviewSyndicationSummaryGroups" type="ReviewSyndicationSummaryGroupsType"
                     minOccurs="0"/>
         <xs:element name="Reviews" type="ReviewsType" minOccurs="0"/>
         <xs:element name="HelpfulPositiveReview" type="ReviewType" minOccurs="0"/>
         <xs:element name="HelpfulCriticalReview" type="ReviewType" minOccurs="0"/>
         <xs:element name="HighlightedReview" type="ReviewType" minOccurs="0"/>
         <xs:element name="FacebookMode" type="xs:boolean" minOccurs="0"/>
         <xs:element name="RatingSnapshotTargetURL" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="InternalId" type="xs:long" use="optional"/>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
      <xs:attribute name="disabled" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="ProductReferencesType">
      <xs:sequence>
         <xs:element name="ProductReference" type="ProductReferenceType" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductReferenceType">
      <xs:all>
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ProductsType">
      <xs:sequence>
         <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="sort" type="xs:string" use="optional"/>
      <xs:attribute name="direction" type="DirectionType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="QAStatisticsType">
      <xs:all>
         <xs:element name="TotalQuestionsCount" type="xs:int"/>
         <xs:element name="TotalAnswersCount" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="Label1" type="xs:string" minOccurs="0"/>
         <xs:element name="Label2" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="displayType">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL"/>
               <xs:enumeration value="SLIDER"/>
               <xs:enumeration value="RADIO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RatingDistributionItemType">
      <xs:all>
         <xs:element name="RatingValue" type="xs:int"/>
         <xs:element name="Count" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingDistributionType">
      <xs:sequence>
         <xs:element name="RatingDistributionItem" type="RatingDistributionItemType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingValueType">
      <xs:all>
         <xs:element name="Rating" type="xs:int"/>
         <xs:element name="Label" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingValuesType">
      <xs:sequence>
         <xs:element name="RatingValue" type="RatingValueType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RankedProductLinksType">
      <xs:sequence>
         <xs:element name="Link" type="RankedProductLinkType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RankedProductLinkType">
      <xs:all>
         <xs:element name="ProductLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Product" type="ProductType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsTimeFramesType">
      <xs:sequence>
         <xs:element name="ReviewStatisticsTimeFrame" type="ReviewStatisticsTimeFrameType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsTimeFrameType">
      <xs:all>
         <xs:element name="MaximumRatingAgeInDays" type="xs:int"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsType">
      <xs:all>
         <xs:element name="AverageOverallRating" minOccurs="0" type="xs:float"/>
         <xs:element name="OverallRatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="OverallRatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="OverallRatingImageLargeUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TotalReviewCount" type="xs:int"/>
         <xs:element name="RatingsOnlyReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="RecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="NotRecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FeaturedReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="HelpfulVoteCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FirstSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="AverageRatingValues" type="AverageRatingValuesType" minOccurs="0"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType" minOccurs="0"/>
         <xs:element name="TagDistribution" type="TagDistributionType" minOccurs="0"/>
         <xs:element name="ReviewStatisticsTimeFrames" type="ReviewStatisticsTimeFramesType"
                     minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewLinksType">
      <xs:all>
         <xs:element name="PositiveFeedbackLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="NegativeFeedbackLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="InappropriateFeedbackLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewSyndicationSummaryGroupType">
      <xs:all>
         <xs:element name="ReviewDisplayLink" type="xs:anyURI" minOccurs="1"/>
         <xs:element name="OverallRating" type="xs:float" minOccurs="1"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="DisplayIconUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ClientDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="TotalReviewCount" type="xs:int" minOccurs="1"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewSyndicationSummaryGroupsType">
      <xs:sequence>
         <xs:element name="ReviewSyndicationSummaryGroup" type="ReviewSyndicationSummaryGroupType"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:all>
         <xs:element name="Reviewer" type="ReviewerType" minOccurs="0"/>
         <xs:element name="RatingsOnly" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewText" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewTextTruncated" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Pros" type="xs:string" minOccurs="0"/>
         <xs:element name="Cons" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Rating" type="xs:int" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="Recommended" type="xs:boolean" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UserProfileUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Featured" type="xs:boolean"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="ProductReferences" type="ProductReferencesType" minOccurs="0"/>
         <xs:element name="Source" type="ContentSourceType" minOccurs="0"/>
         <xs:element name="Links" type="ReviewLinksType" minOccurs="0"/>
         <xs:element name="SessionParams" type="xs:string" minOccurs="0"/>
         <xs:element name="ClientResponses" type="ClientResponsesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all>
         <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="ContributorRank" type="xs:string"/>
         <xs:element name="Links" type="ReviewerLinksType" minOccurs="0"/>
         <xs:element name="QAStatistics" type="QAStatisticsType" minOccurs="0"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="ReviewedProducts" type="ReviewedProductsType" minOccurs="0"/>
         <xs:element name="Avatar" type="AvatarType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerContentType">
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="totalCount" type="NonNegativeInt" use="optional" default="0"/>
   </xs:complexType>
   <xs:complexType name="ReviewerLinksType">
      <xs:all>
         <xs:element name="SubmissionsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="ProfileEditPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RRTabUserProfilePageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="QATabUserProfilePageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProfileEmbeddedPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProfileSnapshotLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingSubmissionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewedProductsType">
      <xs:complexContent>
         <xs:extension base="ReviewerContentType">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element name="Product" type="ProductType"/>
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReviewsType">
      <xs:sequence>
         <xs:element name="Review" type="ReviewType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="numRows" type="NonNegativeInt" use="optional"/>
      <xs:attribute name="startRow" type="NonNegativeInt" use="optional"/>
      <xs:attribute name="endRow" type="NonNegativeInt" use="optional"/>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="sort" type="xs:string" use="optional"/>
      <xs:attribute name="direction" type="DirectionType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="TestEnvironmentName" type="xs:string" minOccurs="0"/>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="Format" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
         <xs:element name="SyndicationSource" type="SyndicationSourceType" minOccurs="0"/>
         <xs:element name="RRStaticResourceBaseUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="QAStaticResourceBaseUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="SortLinksType">
      <xs:sequence>
         <xs:element name="SortLink" type="SortLinkType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SortLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="sort" type="xs:string" use="required"/>
            <xs:attribute name="direction" type="DirectionType" use="required"/>
            <xs:attribute name="selected" type="xs:boolean"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="SyndicationSourceType">
      <xs:all>
         <xs:element name="DisplayName" type="xs:string" minOccurs="1"/>
         <xs:element name="DisplayIconUrl" type="xs:anyURI" minOccurs="1"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="TagDistributionItemType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="Count" type="xs:int"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="TagDistributionInDimensionType">
      <xs:sequence>
         <xs:element name="TagDistributionItem" type="TagDistributionItemType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagDistributionType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="TagDistributionItems" type="TagDistributionInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagFilteringLinksInDimensionType">
      <xs:sequence>
         <xs:element name="TagFilteringLink" type="TagFilteringLinkType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagFilteringLinksType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="TagFilteringLinks" type="TagFilteringLinksInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagFilteringLinkType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="Link" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MatchCount" type="NonNegativeInt"/>
      </xs:all>
      <xs:attribute name="selected" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="TagsInDimensionType">
      <xs:sequence>
         <xs:element name="Tag" type="TagType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="Tags" type="TagsInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="UpcsType">
      <xs:sequence>
         <xs:element name="UPC" minOccurs="1" maxOccurs="unbounded" type="UpcType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoUrl" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DirectionType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="asc"/>
         <xs:enumeration value="desc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="EanType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8}"/>
         <xs:pattern value="[0-9]{13}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="IsbnType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8,12}[0-9X]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ModerationStatusType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="NONE"/>
         <xs:enumeration value="SUBMITTED"/>
         <xs:enumeration value="APPROVED"/>
         <xs:enumeration value="HOLD"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="REMOVEDBYCLIENT"/>
         <xs:enumeration value="REMOVEDTEST"/>
         <xs:enumeration value="AUTOMATEDHOLD"/>
         <xs:enumeration value="EXPIRED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProductUniversalIdentifierType">
      <xs:restriction base="xs:string">
         <xs:pattern value="\S.*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UpcType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{6}"/>
         <xs:pattern value="[0-9]{12}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ChangedContent" type="ChangedContentType"/>
   <xs:element name="Model" type="ModelType"/>
</xs:schema>