product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v3.7/answers-submit-3.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/QA/AnswersSubmit/3.7" targetNamespace="http://www.bazaarvoice.com/xs/QA/AnswersSubmit/3.7"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="DisplayLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionHelpText" type="xs:string" minOccurs="0"/>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AdditionalQuestionsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="Category" type="CategoryType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="AnswerLinksType">
      <xs:all>
         <xs:element name="UserProfileLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MediaUploadLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="AnswerType">
      <xs:all>
         <xs:element name="Source" type="ContentSourceType" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="AnswerText" type="xs:string" minOccurs="0"/>
         <xs:element name="AnswerTextMarkup" type="MarkupType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Links" type="AnswerLinksType" minOccurs="0"/>
         <xs:element name="TypicalHoursToPost" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="RejectedDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayAsAnonymous" type="xs:boolean" minOccurs="0"/>
         <xs:element name="UserEmailAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="SendEmailAlertWhenPublished" type="xs:boolean" minOccurs="0"/>
         <xs:element name="AgreedToTermsAndConditions" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubmitForm" type="FormType" minOccurs="0"/>
         <xs:element name="MediaUploadForm" type="FormType" minOccurs="0"/>
         <xs:element name="InappropriateFeedbackForm" type="FormType" minOccurs="0"/>
         <xs:element name="LastPublishTime" type="xs:dateTime" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AnswersType">
      <xs:sequence>
         <xs:element name="Answer" type="AnswerType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributesType">
      <xs:sequence>
         <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:sequence>
         <xs:choice>
            <xs:element name="Value" type="OptionalLocalizedStringType" minOccurs="1"
                        maxOccurs="unbounded"/>
            <xs:element name="UrlValue" type="OptionalLocalizedUrlType" minOccurs="1"
                        maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ImageUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="DefinitionUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrandType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CategoriesType">
      <xs:sequence>
         <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryLinksType">
      <xs:all>
         <xs:element name="AskQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AskQuestionApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="QuestionsHomeLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="BrowseQuestionsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SearchQuestionsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SearchQuestionsSubmitLink" type="SearchSubmitLinkType" minOccurs="0"/>
         <xs:element name="QuestionsSummaryLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinkType">
      <xs:all>
         <xs:element name="CategoryLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Selected" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="SubCategoryNavigationLinks" type="CategoryNavigationLinksType"
                     minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryNavigationLinksType">
      <xs:sequence>
         <xs:element name="Link" type="CategoryNavigationLinkType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="CategoryPath" type="CategoriesType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="CategoryQuestionsUrl" type="CategoryNavigationLinkType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="NumQuestions" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="CategoryLinksType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ContentSourceType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="LogoImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ContentLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FormBooleanInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormHiddenInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="binding" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormInputContainerType" abstract="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="InputGroup" type="FormInputGroupType"/>
         <xs:element name="HiddenInput" type="FormHiddenInputType"/>
         <xs:element name="BooleanInput" type="FormBooleanInputType"/>
         <xs:element name="IntegerInput" type="FormIntegerInputType"/>
         <xs:element name="SelectInput" type="FormSelectInputType"/>
         <xs:element name="TextAreaInput" type="FormTextAreaInputType"/>
         <xs:element name="TextInput" type="FormTextInputType"/>
         <xs:element name="FileInput" type="FormFileInputType"/>
         <xs:element name="SubmitInput" type="FormSubmitInputType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="FormInputGroupType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FormIntegerInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="minimum" type="xs:int"/>
            <xs:attribute name="maximum" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormSelectInputType">
      <xs:sequence>
         <xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:attribute name="value" type="xs:string"/>
               <xs:attribute name="label" type="xs:string"/>
               <xs:attribute name="selected" type="xs:boolean"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="formInputAttrGroup"/>
      <xs:attribute name="lowLabel" type="xs:string"/>
      <xs:attribute name="highLabel" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormSubmitInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormFileInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="accept" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormTextAreaInputType">
      <xs:simpleContent>
         <xs:extension base="FormTextInputType"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormTextInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="maxLength" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="action" type="xs:anyURI" use="required"/>
            <xs:attribute name="accept-charset" type="xs:string" use="required"/>
            <xs:attribute name="enctype" type="xs:string"/>
            <xs:attribute name="method" type="xs:string" use="required"/>
            <xs:attribute name="hasError" type="xs:boolean"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LinkTextType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="href" type="xs:anyURI" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="MarkupType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="HighlightText" type="xs:string"/>
         <xs:element name="PlainText" type="xs:string"/>
         <xs:element name="LinkText" type="LinkTextType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="MediaUploadResultType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="MediaUploadForm" type="FormType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="hasError" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Product" type="ProductType" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="ShuffledQuestions" type="ShuffledQuestionsType" minOccurs="0"/>
         <xs:element name="AdditionalQuestions" type="AdditionalQuestionsType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="UploadName" type="xs:string" minOccurs="0"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
         <xs:element name="ErrorMessages" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductLinksType">
      <xs:all>
         <xs:element name="AskQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AskQuestionApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="QuestionsHomeLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="BrowseQuestionsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SearchQuestionsLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SearchQuestionsSubmitLink" type="SearchSubmitLinkType" minOccurs="0"/>
         <xs:element name="QuestionsSummaryLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Brand" type="BrandType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="NumQuestions" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="ProductLinksType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
         <xs:element name="CategoryName" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPath" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductQuestionsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
      <xs:attribute name="disabled" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="QuestionLinksType">
      <xs:all>
         <xs:element name="AnswerQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AnswerQuestionApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="BrowseQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UserProfileLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MediaUploadLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UnsubscribeEmailLinkYes" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UnsubscribeEmailLinkNo" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="QuestionType">
      <xs:all>
         <xs:element name="Source" type="ContentSourceType" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="QuestionSummary" type="xs:string" minOccurs="0"/>
         <xs:element name="QuestionDetails" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="QuestionLinksType" minOccurs="0"/>
         <xs:element name="Answers" type="AnswersType" minOccurs="0"/>
         <xs:element name="TypicalHoursToPost" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="RejectedDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayAsAnonymous" type="xs:boolean" minOccurs="0"/>
         <xs:element name="UserEmailAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="SendEmailAlertWhenPublished" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SendEmailAlertWhenAnswered" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SendEmailAlertWhenAnsweredOptOutURL" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AgreedToTermsAndConditions" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubmitForm" type="FormType" minOccurs="0"/>
         <xs:element name="InappropriateFeedbackForm" type="FormType" minOccurs="0"/>
         <xs:element name="LastPublishTime" type="xs:dateTime" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="QuestionsType">
      <xs:sequence>
         <xs:element name="Question" type="QuestionType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="sort" type="xs:string" use="optional"/>
      <xs:attribute name="direction" type="DirectionType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="RedirectType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TargetUrl" type="xs:string"/>
         <xs:element name="TargetParent" type="xs:boolean"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RedirectFormType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="RedirectForm" type="FormType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all/>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="SearchSubmitLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="selected" type="xs:boolean"/>
            <xs:attribute name="scopeType" type="SearchQueryScopeTypeEnum"/>
            <xs:attribute name="scopeName" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ShuffledQuestionsType">
      <xs:all>
         <xs:element name="Links" type="ShuffledLinksType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="numQuestions" type="NonNegativeInt" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ShuffledLinksType">
      <xs:all>
         <xs:element name="ShuffledQuestionsContainerPageLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="Format" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="TagsInDimensionType">
      <xs:sequence>
         <xs:element name="Tag" type="TagType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="Tags" type="TagsInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoUrl" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DirectionType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="asc"/>
         <xs:enumeration value="desc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SearchQueryScopeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="All"/>
         <xs:enumeration value="Category"/>
         <xs:enumeration value="Product"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:attributeGroup name="formInputAttrGroup">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="labelHelpText" type="xs:string"/>
      <xs:attribute name="required" type="xs:boolean"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="errorMessage" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="Model" type="ModelType"/>
   <xs:element name="MediaUploadResult" type="MediaUploadResultType"/>
   <xs:element name="Redirect" type="RedirectType"/>
   <xs:element name="RedirectForm" type="RedirectFormType"/>
</xs:schema>