product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v3.7/reviews-submit-3.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/PRR/ReviewsSubmit/3.7" targetNamespace="http://www.bazaarvoice.com/xs/PRR/ReviewsSubmit/3.7"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="DisplayLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionLabel" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionHelpText" type="xs:string" minOccurs="0"/>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AdditionalQuestionsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="Category" type="CategoryType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="AttributesType">
      <xs:sequence>
         <xs:element name="Attribute" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AttributeType">
      <xs:sequence>
         <xs:choice>
            <xs:element name="Value" type="OptionalLocalizedStringType" minOccurs="1"
                        maxOccurs="unbounded"/>
            <xs:element name="UrlValue" type="OptionalLocalizedUrlType" minOccurs="1"
                        maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AverageRatingValueType">
      <xs:all>
         <xs:element name="AverageRating" type="xs:float"/>
         <xs:element name="AverageRatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AverageRatingValuesType">
      <xs:sequence>
         <xs:element name="AverageRatingValue" type="AverageRatingValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ImageUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="DefinitionUrl" minOccurs="0" type="xs:anyURI"/>
         <xs:element name="ContentType" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BrandType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ContentSourceType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="LogoImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ContentLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FormBooleanInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormHiddenInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="binding" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormInputContainerType" abstract="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="InputGroup" type="FormInputGroupType"/>
         <xs:element name="HiddenInput" type="FormHiddenInputType"/>
         <xs:element name="BooleanInput" type="FormBooleanInputType"/>
         <xs:element name="IntegerInput" type="FormIntegerInputType"/>
         <xs:element name="SelectInput" type="FormSelectInputType"/>
         <xs:element name="TextAreaInput" type="FormTextAreaInputType"/>
         <xs:element name="TextInput" type="FormTextInputType"/>
         <xs:element name="FileInput" type="FormFileInputType"/>
         <xs:element name="SubmitInput" type="FormSubmitInputType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="FormInputGroupType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FormIntegerInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="minimum" type="xs:int"/>
            <xs:attribute name="maximum" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormSelectInputType">
      <xs:sequence>
         <xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:attribute name="value" type="xs:string"/>
               <xs:attribute name="label" type="xs:string"/>
               <xs:attribute name="selected" type="xs:boolean"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="formInputAttrGroup"/>
      <xs:attribute name="lowLabel" type="xs:string"/>
      <xs:attribute name="highLabel" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormSubmitInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormFileInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="accept" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormTextAreaInputType">
      <xs:simpleContent>
         <xs:extension base="FormTextInputType"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormTextInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="maxLength" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="action" type="xs:anyURI" use="required"/>
            <xs:attribute name="accept-charset" type="xs:string" use="required"/>
            <xs:attribute name="enctype" type="xs:string"/>
            <xs:attribute name="method" type="xs:string" use="required"/>
            <xs:attribute name="hasError" type="xs:boolean"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MediaUploadResultType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="MediaUploadForm" type="FormType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="hasError" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="MessageType">
      <xs:sequence>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MessageCode" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Message" type="MessageType" minOccurs="0"/>
         <xs:element name="Product" type="ProductType" minOccurs="0"/>
         <xs:element name="ShuffledQuestions" type="ShuffledQuestionsType" minOccurs="0"/>
         <xs:element name="UserProfile" type="ReviewerType" minOccurs="0"/>
         <xs:element name="AdditionalQuestions" type="AdditionalQuestionsType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="OptionalLocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PagesLinksType">
      <xs:sequence>
         <xs:element name="Link" type="PageLinkType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PageLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="page" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="UploadName" type="xs:string" minOccurs="0"/>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
         <xs:element name="ErrorMessages" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductLinksType">
      <xs:all>
         <xs:element name="SocialBookmarkingTargetLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Brand" type="BrandType" minOccurs="0"/>
         <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
         <xs:element name="NumReviews" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="ProductLinksType" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
         <xs:element name="CategoryName" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPath" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductQuestionsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="Reviews" type="ReviewsType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
      <xs:attribute name="disabled" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="QuestionLinksType">
      <xs:all>
         <xs:element name="AnswerQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="AnswerQuestionApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="BrowseQuestionLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="UserProfileLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="QuestionType">
      <xs:all>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="QuestionSummary" type="xs:string" minOccurs="0"/>
         <xs:element name="QuestionDetails" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="QuestionLinksType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="QuestionsType">
      <xs:sequence>
         <xs:element name="Question" type="QuestionType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="Label1" type="xs:string" minOccurs="0"/>
         <xs:element name="Label2" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="displayType">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL"/>
               <xs:enumeration value="SLIDER"/>
               <xs:enumeration value="RADIO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RatingDistributionItemType">
      <xs:sequence>
         <xs:element name="RatingValue" type="xs:int"/>
         <xs:element name="Count" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDistributionType">
      <xs:sequence>
         <xs:element name="RatingDistributionItem" type="RatingDistributionItemType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingValueType">
      <xs:all>
         <xs:element name="Rating" type="xs:int"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingValuesType">
      <xs:sequence>
         <xs:element name="RatingValue" type="RatingValueType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RedirectType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TargetUrl" type="xs:string"/>
         <xs:element name="TargetParent" type="xs:boolean"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RedirectFormType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="RedirectForm" type="FormType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsType">
      <xs:all>
         <xs:element name="AverageOverallRating" minOccurs="0" type="xs:float"/>
         <xs:element name="OverallRatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="OverallRatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="OverallRatingImageLargeUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="TotalReviewCount" type="xs:int"/>
         <xs:element name="RatingsOnlyReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="RecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="NotRecommendedCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FeaturedReviewCount" type="xs:int" minOccurs="0"/>
         <xs:element name="HelpfulVoteCount" type="xs:int" minOccurs="0"/>
         <xs:element name="FirstSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="LastSubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="AverageRatingValues" type="AverageRatingValuesType" minOccurs="0"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewLinksType">
      <xs:all>
         <xs:element name="MediaUploadLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:all>
         <xs:element name="Reviewer" type="ReviewerType" minOccurs="0"/>
         <xs:element name="RatingsOnly" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewText" type="xs:string" minOccurs="0"/>
         <xs:element name="Pros" type="xs:string" minOccurs="0"/>
         <xs:element name="Cons" type="xs:string" minOccurs="0"/>
         <xs:element name="Tags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Rating" type="xs:int" minOccurs="0"/>
         <xs:element name="RatingImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="Recommended" type="xs:boolean" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ElapsedTime" type="xs:string" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="Links" type="ReviewLinksType" minOccurs="0"/>
         <xs:element name="NetPromoterScore" type="xs:int" minOccurs="0"/>
         <xs:element name="NetPromoterComment" type="xs:string" minOccurs="0"/>
         <xs:element name="NetPromoterExpanded" type="xs:boolean" minOccurs="0"/>
         <xs:element name="TypicalHoursToPost" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="RejectedDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayAsAnonymous" type="xs:boolean" minOccurs="0"/>
         <xs:element name="UserEmailAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="SendEmailAlertWhenPublished" type="xs:boolean" minOccurs="0"/>
         <xs:element name="AgreedToTermsAndConditions" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubmitForm" type="FormType" minOccurs="0"/>
         <xs:element name="InappropriateFeedbackForm" type="FormType" minOccurs="0"/>
         <xs:element name="LastPublishTime" type="xs:dateTime" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all>
         <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="Links" type="ReviewerLinksType" minOccurs="0"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="ReviewedProducts" type="ReviewedProductsType" minOccurs="0"/>
         <xs:element name="RequestedUserDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="LastSubmittedDisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="LastSubmittedDisplayNameStatus" type="ModerationStatusType" minOccurs="0"/>
         <xs:element name="EditUserDisplayNameForm" type="FormType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewerLinksType">
      <xs:all>
         <xs:element name="SubmissionsFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="SubmissionsAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="ProfilePublicPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="EditOwnProfilePageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProfileEditDisplayNameLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewedProductsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Product" type="ProductType"/>
      </xs:choice>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
   </xs:complexType>
   <xs:complexType name="ReviewsType">
      <xs:sequence>
         <xs:element name="Review" type="ReviewType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LegacyHostedSubmissionContainerType">
      <xs:sequence>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Product" type="ProductType"/>
         <xs:element name="ContainerParameters">
            <xs:complexType>
               <xs:all>
                  <xs:element name="BVPage" type="xs:string"/>
                  <xs:element name="ProductExternalId" type="ExternalIdType" minOccurs="0"/>
               </xs:all>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ShuffledQuestionsType">
      <xs:all>
         <xs:element name="Links" type="ShuffledLinksType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="numQuestions" type="NonNegativeInt" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ShuffledLinksType">
      <xs:all>
         <xs:element name="ShuffledQuestionsContainerPageLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="Format" type="xs:string" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="TagsInDimensionType">
      <xs:sequence>
         <xs:element name="Tag" type="TagType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsType">
      <xs:sequence>
         <xs:element name="TagDimension" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:all>
                  <xs:element name="Label" type="xs:string" minOccurs="0"/>
                  <xs:element name="Tags" type="TagsInDimensionType"/>
               </xs:all>
               <xs:attribute name="id" type="ExternalIdType" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoUrl" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DirectionType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="asc"/>
         <xs:enumeration value="desc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ModerationStatusType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="NONE"/>
         <xs:enumeration value="SUBMITTED"/>
         <xs:enumeration value="APPROVED"/>
         <xs:enumeration value="HOLD"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="REMOVEDBYCLIENT"/>
         <xs:enumeration value="REMOVEDTEST"/>
         <xs:enumeration value="AUTOMATEDHOLD"/>
         <xs:enumeration value="EXPIRED"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:attributeGroup name="formInputAttrGroup">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="labelHelpText" type="xs:string"/>
      <xs:attribute name="required" type="xs:boolean"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="errorMessage" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="Model" type="ModelType"/>
   <xs:element name="MediaUploadResult" type="MediaUploadResultType"/>
   <xs:element name="Redirect" type="RedirectType"/>
   <xs:element name="RedirectForm" type="RedirectFormType"/>
   <xs:element name="LegacyHostedSubmissionContainer"
               type="LegacyHostedSubmissionContainerType"/>
</xs:schema>