schemas/client-features/src/main/xsd/external/clientFeatures/client-features-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://www.bazaarvoice.com/ClientFeatures/API/1.0"
           targetNamespace="http://www.bazaarvoice.com/ClientFeatures/API/1.0"
        >

    <xs:simpleType name="ApplicationExternalIdType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRR"/>
            <xs:enumeration value="QA"/>
            <xs:enumeration value="STORIES"/>
            <xs:enumeration value="PROFILES"/>
            <xs:enumeration value="SEARCH"/>
            <xs:enumeration value="SYNDICATION"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ApplicationsType">
        <xs:sequence>
            <xs:element name="application" type="ApplicationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationType">
        <xs:all>
            <xs:element name="externalId" type="ApplicationExternalIdType"/>
            <xs:element name="primaryDisplayCode" type="xs:string"/>
            <xs:element name="features" type="FeaturesType"/>
        </xs:all>
        <xs:attribute name="id" type="ApplicationExternalIdType"/>
    </xs:complexType>

    <xs:complexType name="ClientType">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="billingId" type="xs:string" minOccurs="0"/>
            <xs:element name="applications" type="ApplicationsType"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="FeaturesType">
        <xs:sequence>
            <xs:element name="feature" type="FeatureType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FeatureType">
        <xs:all>
            <xs:element name="externalId" type="xs:string"/>
            <xs:element name="value" type="ValueType"/>
        </xs:all>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>

    <xs:simpleType name="ValueType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Enabled-All"/>
            <xs:enumeration value="Enabled-Primary"/>
            <xs:enumeration value="Enabled-Secondary"/>
            <xs:enumeration value="Disabled"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ** Top Level Elements **************************************************** -->
    <xs:element name="client" type="ClientType"/>
</xs:schema>