schemas/gsi/src/main/xsd/external/gsi/gsi-cds-2.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.gsicommerce.com/xs/CatalogDeltaService/2.0"
           xmlns="http://www.gsicommerce.com/xs/CatalogDeltaService/2.0"
           elementFormDefault="qualified">
    <xs:element name="CatalogDeltaResponse">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="CatalogDeltaServiceErrorResponse"/>
                <xs:element ref="CatalogEntry" maxOccurs="unbounded"/>
                <xs:element ref="DeltaUrls"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="CatalogDeltaServiceErrorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ErrorCode" type="xs:string"/>
                <xs:element name="ErrorDescription" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeltaUrls">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DeltaUrl" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CatalogEntry">
        <xs:complexType>
            <xs:all>
                <xs:element name="CatalogEntryId" type="xs:string"/>
                <xs:element name="EntryType" type="xs:string"/>
                <xs:element ref="LocaleCodes"/>
                <xs:element name="StoreCode" type="xs:string"/>
                <xs:element name="BasePrice" type="xs:float" nillable="true"/>
                <xs:element name="CurrentPrice" type="xs:float" nillable="true"/>
                <xs:element name="CurrentPriceMax" type="xs:float" nillable="true"/>
                <xs:element name="BasePriceMax" type="xs:float" nillable="true"/>
                <xs:element name="AvailForSale" type="xs:string"/>
                <xs:element name="ImageUrl" type="xs:anyURI"/>
                <xs:element name="ThumbnailImageUrl" type="xs:anyURI"/>
                <xs:element name="Status" type="xs:string"/>
                <xs:element name="InStock" type="xs:string"/>
                <xs:element name="AverageRating" type="xs:float" nillable="true"/>
                <xs:element name="Recommendable" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="LocaleCodes">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LocaleCode" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LocaleCode">
        <xs:complexType>
            <xs:all>
                <xs:element name="Title" type="xs:string"/>
                <xs:element name="LongTitle" type="xs:string"/>
                <xs:element name="ShortDescription" type="xs:string"/>
                <xs:element name="LongDescription" type="xs:string"/>
                <xs:element name="SearchKeywords" type="xs:string"/>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="PrimaryPath" type="xs:string"/>
                <xs:element name="PrimaryPathId" type="xs:string"/>
                <xs:element name="ProductUrl" type="xs:anyURI"/>
            </xs:all>
            <xs:attribute name="locale" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
