schemas/gsi/src/main/xsd/external/gsi/gsi-cds-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.gsicommerce.com/xs/CatalogDeltaService/3.0"
		xmlns="http://www.gsicommerce.com/xs/CatalogDeltaService/3.0" 
		elementFormDefault="qualified"> 
	<xs:element name="CatalogDeltaResponse">
		<xs:complexType>
			<xs:choice>
				<xs:element name="CatalogDeltaServiceErrorResponse">
        				<xs:complexType>
            					<xs:sequence>
                					<xs:element name="ErrorCode" type="xs:string"/>
                					<xs:element name="ErrorDescription" type="xs:string"/>
            					</xs:sequence>
        				</xs:complexType>
				</xs:element>
    				<xs:element name="DeltaUrls">
        				<xs:complexType>
            					<xs:sequence>
                					<xs:element name="delta-url" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0"/>
            					</xs:sequence>
        				</xs:complexType>
    				</xs:element>
				<xs:element name="CatalogEntry" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LocaleCodes" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LocaleCode" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Title" type="xs:string" minOccurs="1"/>
													<xs:element name="LongTitle" type="xs:string" minOccurs="1"/> 
													<xs:element name="ShortDescription" type="xs:string" minOccurs="1"/>
													<xs:element name="LongDescription" type="xs:string" minOccurs="1"/>
													<xs:element name="SearchKeywords" type="xs:string" minOccurs="1"/>
													<xs:element name="Brand" type="xs:string" minOccurs="1"/>
													<xs:element name="PrimaryPath" minOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="Id" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="GlobalCategory" minOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="Id" type="xs:string" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Categories" minOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Category" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="id" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ProductUrl" type="xs:string" minOccurs="1"/>
													<xs:element name="OtherData" minOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Other" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="name" type="xs:string" use="required"/>
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											<xs:attribute name="Locale" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="StyleCode" type="xs:string" minOccurs="1"/>
							<xs:element name="BasePrice" type="xs:string" minOccurs="1"/>
							<xs:element name="BasePriceMax" type="xs:string" minOccurs="1"/> 
							<xs:element name="CurrentPrice" type="xs:string" minOccurs="1"/> 
							<xs:element name="CurrentPriceMax" type="xs:string" minOccurs="1"/> 
							<xs:element name="Status" type="xs:string" minOccurs="1"/> 
							<xs:element name="AverageRating" type="xs:string" minOccurs="1"/> 
							<xs:element name="ReviewCount" type="xs:string" minOccurs="1"/>
							<xs:element name="InStock" type="xs:string" minOccurs="1"/>  
							<xs:element name="Recommendable" type="xs:string" minOccurs="1"/> 
							<xs:element name="AvailForSale" type="xs:string" minOccurs="1"/> 
							<xs:element name="ThumbnailImageUrl" type="xs:string" minOccurs="1"/> 
							<xs:element name="ImageUrl" type="xs:string" minOccurs="1"/>
							<xs:element name="Skus" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Sku" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Upc" type="xs:string" minOccurs="1"/>
													<xs:element name="MfgSku" type="xs:string" minOccurs="1"/>
													<xs:element name="VendorSku" type="xs:string" minOccurs="1"/> 
													<xs:element name="StyleCode" type="xs:string" minOccurs="1"/>
													<xs:element name="InStock" type="xs:string" minOccurs="1"/>  
													<xs:element name="ThumbnailImageUrl" type="xs:string" minOccurs="1"/>
													<xs:element name="ImageUrl" type="xs:string" minOccurs="1"/>
													<xs:element name="LocaleCodes" minOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LocaleCode" minOccurs="1" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Size" type="xs:string" minOccurs="1"/>
																			<xs:element name="Color" type="xs:string" minOccurs="1"/> 
																			<xs:element name="OtherData" minOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Other" minOccurs="0" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:simpleContent>
																									<xs:extension base="xs:string">
																										<xs:attribute name="name" type="xs:string" use="required"/>
																									</xs:extension>
																								</xs:simpleContent>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="Locale" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Id" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Id" type="xs:string" use="required"/>
						<xs:attribute name="IsACollection" type="xs:string" use="optional"/>
						<xs:attribute name="CloneParentId" type="xs:string" use="optional"/>
						<xs:attribute name="CloneOriginalId" type="xs:string" use="optional"/>
						<xs:attribute name="SuperPids" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>				
			</xs:choice>			
			<xs:attribute name="name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
