schemas/cheetah-mail/src/main/xsd/external/cheetahmail/reviews.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- current version of this spec -->
    <xs:simpleType name="doc_version">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- only one type of service used -->
    <xs:simpleType name="cm_service">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ebmtrigger1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Must pass b=1 to ensure scrubbing against Sears blocklist -->
    <xs:simpleType name="cm_block">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="service" minOccurs="1" maxOccurs="1" type="cm_service"/>
                <xs:element name="request" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="eid" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger"/>
                            <xs:element name="aid" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger"/>
                            <xs:element name="test" minOccurs="0" maxOccurs="1" type="xs:string"/>
                            <xs:element name="HTML" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger"/>
                            <xs:element name="b" minOccurs="1" maxOccurs="1" type="cm_block"/>
                            <xs:element name="email" minOccurs="1" maxOccurs="1" type="xs:string"/>

                            <xs:element name="REVIEW" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="REVIEW_ID" type="xs:nonNegativeInteger"/>
                                        <xs:element name="RATING" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="REVIEW_DATE" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="REVIEW_STATUS" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="PID" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="PROD_NAME" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="PROD_URL" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                        <xs:element name="PROD_IMAGE" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            
                        </xs:sequence>
                        <xs:attribute name="request_id" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <!-- Unix epoch needed for 'created' attribute -->
            <xs:attribute name="created" type="xs:nonNegativeInteger"/>
            <xs:attribute name="version" type="doc_version"/>
        </xs:complexType>
    </xs:element>
</xs:schema>