product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v3.8/profiles-submit-3.8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/Profiles/ProfilesSubmit/3.8" targetNamespace="http://www.bazaarvoice.com/xs/Profiles/ProfilesSubmit/3.8"
           elementFormDefault="qualified">
   <xs:complexType name="FormBooleanInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormHiddenInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="binding" type="xs:string"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormInputContainerType" abstract="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="InputGroup" type="FormInputGroupType"/>
         <xs:element name="HiddenInput" type="FormHiddenInputType"/>
         <xs:element name="BooleanInput" type="FormBooleanInputType"/>
         <xs:element name="IntegerInput" type="FormIntegerInputType"/>
         <xs:element name="SelectInput" type="FormSelectInputType"/>
         <xs:element name="TextAreaInput" type="FormTextAreaInputType"/>
         <xs:element name="TextInput" type="FormTextInputType"/>
         <xs:element name="FileInput" type="FormFileInputType"/>
         <xs:element name="SubmitInput" type="FormSubmitInputType"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="FormInputGroupType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FormIntegerInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="minimum" type="xs:int"/>
            <xs:attribute name="maximum" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormSelectInputType">
      <xs:sequence>
         <xs:element name="Option" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:attribute name="value" type="xs:string"/>
               <xs:attribute name="label" type="xs:string"/>
               <xs:attribute name="selected" type="xs:boolean"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="formInputAttrGroup"/>
      <xs:attribute name="lowLabel" type="xs:string"/>
      <xs:attribute name="highLabel" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormSubmitInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormFileInputType">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="accept" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="FormTextAreaInputType">
      <xs:simpleContent>
         <xs:extension base="FormTextInputType"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormTextInputType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="formInputAttrGroup"/>
            <xs:attribute name="maxLength" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FormType">
      <xs:complexContent>
         <xs:extension base="FormInputContainerType">
            <xs:attribute name="action" type="xs:anyURI" use="required"/>
            <xs:attribute name="accept-charset" type="xs:string" use="required"/>
            <xs:attribute name="enctype" type="xs:string"/>
            <xs:attribute name="method" type="xs:string" use="required"/>
            <xs:attribute name="hasError" type="xs:boolean"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RedirectType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="TargetUrl" type="xs:string"/>
         <xs:element name="TargetParent" type="xs:boolean"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RedirectFormType">
      <xs:all>
         <xs:element name="Site">
            <xs:complexType>
               <xs:all>
                  <xs:element name="DomainName" type="xs:string"/>
               </xs:all>
               <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="RedirectForm" type="FormType"/>
      </xs:all>
   </xs:complexType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:attributeGroup name="formInputAttrGroup">
      <xs:attribute name="binding" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="labelHelpText" type="xs:string"/>
      <xs:attribute name="required" type="xs:boolean"/>
      <xs:attribute name="hasError" type="xs:boolean"/>
      <xs:attribute name="errorMessage" type="xs:string"/>
   </xs:attributeGroup>
   <xs:element name="Redirect" type="RedirectType"/>
   <xs:element name="RedirectForm" type="RedirectFormType"/>
</xs:schema>