product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v1.0/standard-client-feed-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/PRR/StandardClientFeed/1.0" targetNamespace="http://www.bazaarvoice.com/PRR/StandardClientFeed/1.0"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="AnswerType">
      <xs:all>
         <xs:element name="ModerationStatus" type="ModerationStatusType" minOccurs="0"/>
         <xs:element name="LastModificationTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumInappropriateFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="AnswerText" type="xs:string" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="IpAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="SessionParams" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
         <xs:element name="CampaignId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="ContentCodes" type="xs:string" minOccurs="0"/>
         <xs:element name="OriginatingDisplayCode" type="DisplayCodeType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AnswersType">
      <xs:sequence>
         <xs:element name="Answer" type="AnswerType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AverageRatingValueType">
      <xs:all>
         <xs:element name="AverageRating" type="xs:float"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="AverageRatingValuesType">
      <xs:sequence>
         <xs:element name="AverageRatingValue" type="AverageRatingValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgesType">
      <xs:sequence>
         <xs:element name="Badge" type="BadgeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BadgeType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoriesType">
      <xs:sequence>
         <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryItemType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="CategoryId" type="NonNegativeLong"/>
         <xs:element name="CategoryName" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CategoryItemsType">
      <xs:sequence>
         <xs:element name="CategoryItem" type="CategoryItemType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="CategoryPath" type="CategoriesType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Names" minOccurs="0" type="NamesType"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="CategoryPageUrls" minOccurs="0" type="CategoryPageUrlsType"/>
         <xs:element name="NumQuestions" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FeedType">
      <xs:sequence>
         <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="extractDate" type="xs:dateTime" use="required"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Source" type="xs:string" minOccurs="0"/>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Names" minOccurs="0" type="NamesType"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Descriptions" minOccurs="0" type="DescriptionsType"/>
         <xs:element name="Brand" type="xs:string" minOccurs="0"/>
         <xs:element name="Brands" minOccurs="0" type="BrandsType"/>
         <xs:element name="NumQuestions" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Questions" type="QuestionsType" minOccurs="0"/>
         <xs:element name="Category" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="CategoryItems" type="CategoryItemsType" minOccurs="0"/>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductPageUrls" minOccurs="0" type="ProductPageUrlsType"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrls" minOccurs="0" type="ImageUrlsType"/>
         <xs:element name="SyndicationKey1" type="xs:string" minOccurs="0"/>
         <xs:element name="ModelNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="ModelNumbers" minOccurs="0" type="ModelNumbersType"/>
         <xs:element name="ManufacturerPartNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="ManufacturerPartNumbers" minOccurs="0" type="ManufacturerPartNumbersType"/>
         <xs:element name="EAN" minOccurs="0" type="xs:string"/>
         <xs:element name="EANs" minOccurs="0" type="EansType"/>
         <xs:element name="UPC" minOccurs="0" type="xs:string"/>
         <xs:element name="UPCs" minOccurs="0" type="UpcsType"/>
         <xs:element name="ISBN" minOccurs="0" type="xs:string"/>
         <xs:element name="ISBNs" minOccurs="0" type="IsbnsType"/>
         <xs:element name="ReviewStatistics" type="ReviewStatisticsType" minOccurs="0"/>
         <xs:element name="Reviews" type="ReviewsType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="NamesType">
      <xs:sequence>
         <xs:element name="Name" minOccurs="1" maxOccurs="unbounded" type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DescriptionsType">
      <xs:sequence>
         <xs:element name="Description" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BrandsType">
      <xs:sequence>
         <xs:element name="Brand" minOccurs="1" maxOccurs="unbounded" type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductPageUrlsType">
      <xs:sequence>
         <xs:element name="ProductPageUrl" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ImageUrlsType">
      <xs:sequence>
         <xs:element name="ImageUrl" minOccurs="1" maxOccurs="unbounded" type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelNumbersType">
      <xs:sequence>
         <xs:element name="ModelNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ManufacturerPartNumbersType">
      <xs:sequence>
         <xs:element name="ManufacturerPartNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EansType">
      <xs:sequence>
         <xs:element name="EAN" minOccurs="1" maxOccurs="unbounded" type="EanType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UpcsType">
      <xs:sequence>
         <xs:element name="UPC" minOccurs="1" maxOccurs="unbounded" type="UpcType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IsbnsType">
      <xs:sequence>
         <xs:element name="ISBN" minOccurs="1" maxOccurs="unbounded" type="IsbnType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="EanType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8}"/>
         <xs:pattern value="[0-9]{13}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UpcType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{6}"/>
         <xs:pattern value="[0-9]{12}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="IsbnType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8,12}[0-9X]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProductUniversalIdentifierType">
      <xs:restriction base="xs:string">
         <xs:pattern value="\S.*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="CategoryPageUrlsType">
      <xs:sequence>
         <xs:element name="CategoryPageUrl" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="QuestionType">
      <xs:all>
         <xs:element name="ModerationStatus" type="ModerationStatusType" minOccurs="0"/>
         <xs:element name="LastModificationTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumInappropriateFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Badges" type="BadgesType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="QuestionSummary" type="xs:string" minOccurs="0"/>
         <xs:element name="QuestionDetails" type="xs:string" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="NumAnswers" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Answers" type="AnswersType" minOccurs="0"/>
         <xs:element name="IpAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="SessionParams" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
         <xs:element name="CampaignId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="ContentCodes" type="xs:string" minOccurs="0"/>
         <xs:element name="OriginatingDisplayCode" type="DisplayCodeType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="QuestionsType">
      <xs:sequence>
         <xs:element name="Question" type="QuestionType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="Label1" type="xs:string" minOccurs="0"/>
         <xs:element name="Label2" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
      <xs:attribute name="displayType">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="NORMAL"/>
               <xs:enumeration value="SLIDER"/>
               <xs:enumeration value="RADIO"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RatingDistributionItemType">
      <xs:sequence>
         <xs:element name="RatingValue" type="xs:int"/>
         <xs:element name="Count" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDistributionType">
      <xs:sequence>
         <xs:element name="RatingDistributionItem" type="RatingDistributionItemType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingValueType">
      <xs:all>
         <xs:element name="Rating" type="xs:int"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="RatingValuesType">
      <xs:sequence>
         <xs:element name="RatingValue" type="RatingValueType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReviewStatisticsType">
      <xs:all>
         <xs:element name="AverageOverallRating" minOccurs="0" type="xs:float"/>
         <xs:element name="OverallRatingRange" type="xs:int"/>
         <xs:element name="TotalReviewCount" type="xs:int"/>
         <xs:element name="RatingsOnlyReviewCount" type="xs:int"/>
         <xs:element name="RecommendedCount" type="xs:int"/>
         <xs:element name="AverageRatingValues" type="AverageRatingValuesType"/>
         <xs:element name="RatingDistribution" type="RatingDistributionType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:all>
         <xs:element name="ModerationStatus" type="ModerationStatusType" minOccurs="0"/>
         <xs:element name="LastModificationTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="Reviewer" type="ReviewerType" minOccurs="0"/>
         <xs:element name="RatingsOnly" type="xs:boolean" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewText" type="xs:string" minOccurs="0"/>
         <xs:element name="Pros" type="xs:string" minOccurs="0"/>
         <xs:element name="Cons" type="xs:string" minOccurs="0"/>
         <xs:element name="ProTags" type="TagsType" minOccurs="0"/>
         <xs:element name="ConTags" type="TagsType" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="CampaignId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Rating" type="xs:int" minOccurs="0"/>
         <xs:element name="RatingRange" type="xs:int" minOccurs="0"/>
         <xs:element name="Recommended" type="xs:boolean" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumInappropriateFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="ReviewerNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="ReviewerLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="IpAddress" type="xs:string" minOccurs="0"/>
         <xs:element name="DisplayLocale" type="LocaleType" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="ProductReviewsUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="Featured" type="xs:boolean"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="RatingValues" type="RatingValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Videos" type="VideosType" minOccurs="0"/>
         <xs:element name="Source" type="ContentSourceType" minOccurs="0"/>
         <xs:element name="NetPromoterScore" type="xs:int" minOccurs="0"/>
         <xs:element name="NetPromoterComment" type="xs:string" minOccurs="0"/>
         <xs:element name="SessionParams" type="xs:string" minOccurs="0"/>
         <xs:element name="OriginatingDisplayCode" type="DisplayCodeType" minOccurs="0"/>
         <xs:element name="ContentCodes" type="xs:string" minOccurs="0"/>
         <xs:element name="ClientResponse" type="ReviewClientResponseType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="ReviewClientResponseType">
      <xs:all>
         <xs:element name="Department" type="xs:string" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Response" type="xs:string" minOccurs="0"/>
         <xs:element name="Date" type="xs:dateTime" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
         <xs:element name="Anonymous" type="xs:boolean"/>
         <xs:element name="HyperlinkingEnabled" type="xs:boolean"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ReviewsType">
      <xs:sequence>
         <xs:element name="Review" type="ReviewType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagsType">
      <xs:sequence>
         <xs:element name="Tag" type="TagType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TagType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ContentSourceType">
      <xs:all>
         <xs:element name="Name" type="xs:string"/>
         <xs:element name="ExternalContentId" type="ExternalIdType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoHost" type="xs:string" minOccurs="0"/>
         <xs:element name="VideoId" type="xs:string" minOccurs="0"/>
         <xs:element name="RawUrl" type="xs:string" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="VideosType">
      <xs:sequence>
         <xs:element name="Video" type="VideoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ModerationStatusType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="NONE"/>
         <xs:enumeration value="SUBMITTED"/>
         <xs:enumeration value="APPROVED"/>
         <xs:enumeration value="HOLD"/>
         <xs:enumeration value="PENDING"/>
         <xs:enumeration value="REJECTED"/>
         <xs:enumeration value="REMOVEDBYCLIENT"/>
         <xs:enumeration value="REMOVEDTEST"/>
         <xs:enumeration value="AUTOMATEDHOLD"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Feed" type="FeedType"/>
</xs:schema>