product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v1.0/syndication-feed-1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://www.bazaarvoice.com/PRR/SyndicationFeed/1.0"
		   targetNamespace="http://www.bazaarvoice.com/PRR/SyndicationFeed/1.0"
		   elementFormDefault="qualified">

	<!-- ========= ATTRIBUTE GROUP DECLARATIONS ========= -->

	<xs:attributeGroup name="idAttributeGroup">
		<xs:attribute name="id" type="xs:long" use="optional"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="idAttributeRequiredGroup">
		<xs:attribute name="id" type="xs:long" use="required"/>
	</xs:attributeGroup>

	<!-- ========== ELEMENT DECLARATIONS ========== -->

	<!-- ========== COMPLEX ELEMENTS ============== -->

	<!--Root element Feed-->
	<xs:element name="Feed">
		<xs:annotation>
			<xs:documentation>
				Feed element is the root element of the feed. It contains a collection of products
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Product" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="extractdate" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Product">
		<xs:annotation>
			<xs:documentation>
				Product element defines the product properties and product reviews
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Source" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ExternalID" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Description" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Brand" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Category" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="CategoryItems" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ProductURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FullRevURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ImageURL" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="SyndicationKey1" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ModelNumber" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ManufacturerPartNum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EAN" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="UPC" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ISBN" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Rating" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RatingRange" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NumReviews" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NumRatingsOnlyReviews" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="NumRecommendedReviews" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="RatingValues" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Reviews" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="idAttributeRequiredGroup"/>
			<xs:attribute name="removed" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Reviews">
		<xs:annotation>
			<xs:documentation>
				Contains a list of reviews for the product
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Review" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Review" type="ReviewType">
		<xs:annotation>
			<xs:documentation>
				Defines review properties
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ReviewType">
		<xs:sequence>
			<xs:element ref="RatingsOnly" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Title" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ReviewText" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Pros" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Cons" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Rating" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="RatingRange" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Recommended" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NumFeedbacks" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NumPositiveFeedbacks" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="NumNegativeFeedbacks" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ReviewerNickname" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ReviewerLocation" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="SubmissionTime" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="LogoURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="FullRevURL" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="Featured" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ContextDataValues" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="RatingValues" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="idAttributeRequiredGroup"/>
		<xs:attribute name="removed" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>

	<xs:element name="RatingValues" type="RatingValuesType">
		<xs:annotation>
			<xs:documentation>
				Holds rating values
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RatingValuesType">
		<xs:sequence>
			<xs:element ref="RatingValue" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="RatingValue" type="RatingValueType">
		<xs:annotation>
			<xs:documentation>
				Defines rating for the rating dimension
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RatingValueType">
		<xs:sequence>
			<xs:element ref="Rating" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="RatingDimension" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="idAttributeGroup"/>
	</xs:complexType>

	<xs:element name="RatingDimension" type="RatingDimensionType">
		<xs:annotation>
			<xs:documentation>
				Defines rating dimension.  The ID should be the unique identifier and the Name should
				be the user visible label for this rating dimension.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="RatingDimensionType">
		<xs:sequence>
			<xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="RatingRange" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Label1" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="Label2" minOccurs="0" maxOccurs="1" type="xs:string"/>
		</xs:sequence>
		<xs:attributeGroup ref="idAttributeRequiredGroup"/>
		<xs:attribute name="DisplayType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NORMAL"/>
					<xs:enumeration value="SLIDER"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:element name="ContextDataValues">
		<xs:annotation>
			<xs:documentation>
				Holds context data values
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContextDataValue" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ContextDataValue">
		<xs:annotation>
			<xs:documentation>
				Provides value for context data dimension.  The ID should be the unique identifier
				for this data value and the Name should be the user visible label.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ContextDataDimension" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attributeGroup ref="idAttributeRequiredGroup"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ContextDataDimension" type="ContextDataDimensionType">
		<xs:annotation>
			<xs:documentation>
				Defines context data dimension.  The ID should be the unique identifier for this
				data dimension and the Name should be the user visible label.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ContextDataDimensionType">
		<xs:sequence>
			<xs:element ref="Name" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="idAttributeRequiredGroup"/>
	</xs:complexType>

	<xs:element name="CategoryItems">
		<xs:annotation>
			<xs:documentation>
				Defines a sequence of category items that specify a path in the category hierarchy
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CategoryItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CategoryItem">
		<xs:annotation>
			<xs:documentation>
				Defines a category item in the category tree of the product
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CategoryId" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="CategoryName" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- =========== SIMPLE ELEMENTS ============== -->

	<xs:element name="Category" type="xs:string"/>
	<xs:element name="CategoryId" type="xs:nonNegativeInteger"/>
	<xs:element name="CategoryName" type="xs:string"/>

	<xs:element name="ManufacturerPartNum" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Manufacturer part number
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ISBN" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				International Standard Book Number; a unique ten digit number assigned to every printed book
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Title" type="xs:string"/>

	<xs:element name="Pros" type="xs:string"/>

	<xs:element name="NumPositiveFeedbacks" type="xs:nonNegativeInteger"/>

	<xs:element name="Source" type="xs:string"/>

	<xs:element name="Recommended" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
				If product is recommended by the reviewer to purchase
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Featured" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
				If this review is a featured review for the product
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="SyndicationKey1" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Syndication Key 1
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ModelNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Model number
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="LogoURL" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>
				URL to logo image
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NumRatingsOnlyReviews" type="xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
				Amount of ratingOnly-reviews. H.e. reviews without title, review text etc; with ratings only.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="EAN" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				European Article Numbering System. The international standard bar code for retail food packages.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Brand" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Product brand
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NumReviews" type="xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
				Total amount of reviews for the product
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NumRecommendedReviews" type="xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
				Amount of reviews where reviewer would recommend to purchase the product
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="SubmissionTime" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>
				Where review was submitted
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Name" type="xs:string"/>

	<xs:element name="ReviewText" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Review text
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ReviewerLocation" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Reviewer's location
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="UPC" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Universal Product Code
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="RatingRange" type="xs:positiveInteger">
		<xs:annotation>
			<xs:documentation>
				Rating range for the rating dimension. H.e. the maximum value for the rating dimension
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Description" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Product description
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Rating" type="xs:float">
		<xs:annotation>
			<xs:documentation>
				Rating value
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="Cons" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Product cons
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ReviewerNickname" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Reviewer's nickname
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NumFeedbacks" type="xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
				Amount of feedbacks for the review
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="RatingsOnly" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>
				Specifies if the review is RatingsOnly-review, h.e. reviewer specified only ratings
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ProductURL" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>
				Specifies original product URL
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="FullRevURL" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>
				Specifies URL where the full review can be read
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ImageURL" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>
				URL to product image
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="ExternalID" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				External product identifier
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="NumNegativeFeedbacks" type="xs:nonNegativeInteger">
		<xs:annotation>
			<xs:documentation>
				Amount of negative feedbacks for the review
			</xs:documentation>
		</xs:annotation>
	</xs:element>

</xs:schema>
