product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v4.2/syndication-receipt-feed-4.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/PRR/SyndicationReceiptFeed/4.2" targetNamespace="http://www.bazaarvoice.com/xs/PRR/SyndicationReceiptFeed/4.2"
           elementFormDefault="qualified">
   <xs:complexType name="FeedType">
      <xs:sequence>
         <xs:element name="SyndicationProductDataList" type="SyndicationProductDataListType"
                     minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="extractDate" type="xs:dateTime" use="required"/>
   </xs:complexType>
   <xs:complexType name="SyndicationProductDataType">
      <xs:all>
         <xs:element name="SourceProductExternalID" type="ExternalIdType"/>
         <xs:element name="DestinationProductExternalID" type="ExternalIdType"/>
         <xs:element name="SourceClientName" type="xs:string"/>
         <xs:element name="DestinationClientName" type="xs:string"/>
         <xs:element name="NumReviewsBeforeSyndication" type="xs:int"/>
         <xs:element name="NumReviewsAfterSyndication" type="xs:int"/>
         <xs:element name="AvgRatingBeforeSyndication" type="xs:float"/>
         <xs:element name="AvgRatingAfterSyndication" type="xs:float"/>
         <xs:element name="DestinationProductName" type="xs:string"/>
         <xs:element name="DestinationCategoryName" type="xs:string"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="SyndicationProductDataListType">
      <xs:sequence>
         <xs:element name="SyndicationProductData" type="SyndicationProductDataType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Feed" type="FeedType"/>
   <xs:element name="SyndicationProductData" type="SyndicationProductDataType"/>
</xs:schema>