schemas/client-billing/src/main/xsd/external/clientBilling/all-clients-billing-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://www.bazaarvoice.com/ClientBilling/API/1.0"
           targetNamespace="http://www.bazaarvoice.com/ClientBilling/API/1.0"
        >

    <xs:complexType name="AllClientsType">
        <xs:sequence>
            <xs:element name="Client" type="ClientType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ** Top Level Elements **************************************************** -->
    <xs:element name="Clients" type="AllClientsType"/>
</xs:schema>