schemas/client-billing/src/main/xsd/external/clientBilling/client-billing-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://www.bazaarvoice.com/ClientBilling/API/1.0"
           targetNamespace="http://www.bazaarvoice.com/ClientBilling/API/1.0"
        >

    <xs:complexType name="ClientType">
        <xs:all>
            <xs:element name="Applications" type="ApplicationsType" />
        </xs:all>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="billingId" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="ApplicationsType">
        <xs:sequence>
            <xs:element name="Application" type="ApplicationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationType">
        <xs:sequence>
            <xs:element name="Item" type="ItemType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="PrimaryContentType" use="required"/>
    </xs:complexType>

    <xs:complexType name="ItemType">
        <xs:all>
            <xs:element name="Type" type="SecondaryContentType"/>
            <xs:element name="Native" type="xs:boolean"/>
            <xs:element name="Count" type="NonNegativeInt"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="PrimaryContentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RatingsReviews"/>
            <xs:enumeration value="AskAnswer"/>
            <xs:enumeration value="Stories"/>
            <xs:enumeration value="Profiles"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SecondaryContentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default"/>
            <xs:enumeration value="Comment"/>
            <xs:enumeration value="Photo"/>
            <xs:enumeration value="Video"/>
        </xs:restriction>
    </xs:simpleType>

   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>

    <!-- ** Top Level Elements **************************************************** -->
    <xs:element name="Client" type="ClientType"/>
</xs:schema>