product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v3.2/product-feed-3.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/PRR/ProductFeed/3.2" targetNamespace="http://www.bazaarvoice.com/xs/PRR/ProductFeed/3.2"
           elementFormDefault="qualified">
   <xs:complexType name="AverageRatingValueType">
      <xs:all>
         <xs:element name="AverageRating" type="xs:float"/>
         <xs:element name="RatingDimension" type="RatingDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="CategoriesType">
      <xs:sequence>
         <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="ParentExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Names" minOccurs="0" type="NamesType"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="CategoryPageUrls" minOccurs="0" type="CategoryPageUrlsType"/>
         <xs:element name="ProductPageUrlPattern" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="removed" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="FeedType">
      <xs:sequence>
         <xs:element name="Categories" type="CategoriesType" minOccurs="0"/>
         <xs:element name="Products" type="ProductsType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="extractDate" type="xs:dateTime" use="required"/>
      <xs:attribute name="incremental" type="xs:boolean" use="required"/>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Names" minOccurs="0" type="NamesType"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="Descriptions" minOccurs="0" type="DescriptionsType"/>
         <xs:element name="Brand" type="xs:string" minOccurs="0"/>
         <xs:element name="Brands" minOccurs="0" type="BrandsType"/>
         <xs:element name="CategoryExternalId" type="ExternalIdType" minOccurs="0"/>
         <xs:element name="CategoryName" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPath" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CategoryName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ProductPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ProductPageUrls" minOccurs="0" type="ProductPageUrlsType"/>
         <xs:element name="ImageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="ImageUrls" minOccurs="0" type="ImageUrlsType"/>
         <xs:element name="SyndicationKey" type="xs:string" minOccurs="0"/>
         <xs:element name="ModelNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="ModelNumbers" minOccurs="0" type="ModelNumbersType"/>
         <xs:element name="ManufacturerPartNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="ManufacturerPartNumbers" minOccurs="0" type="ManufacturerPartNumbersType"/>
         <xs:element name="EAN" minOccurs="0" type="xs:string"/>
         <xs:element name="EANs" minOccurs="0" type="EansType"/>
         <xs:element name="UPC" minOccurs="0" type="xs:string"/>
         <xs:element name="UPCs" minOccurs="0" type="UpcsType"/>
         <xs:element name="ISBN" minOccurs="0" type="xs:string"/>
         <xs:element name="ISBNs" minOccurs="0" type="IsbnsType"/>
      </xs:all>
      <xs:attribute name="removed" type="xs:boolean" default="false"/>
   </xs:complexType>
   <xs:complexType name="NamesType">
      <xs:sequence>
         <xs:element name="Name" minOccurs="1" maxOccurs="unbounded" type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DescriptionsType">
      <xs:sequence>
         <xs:element name="Description" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BrandsType">
      <xs:sequence>
         <xs:element name="Brand" minOccurs="1" maxOccurs="unbounded" type="LocalizedStringType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductPageUrlsType">
      <xs:sequence>
         <xs:element name="ProductPageUrl" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ImageUrlsType">
      <xs:sequence>
         <xs:element name="ImageUrl" minOccurs="1" maxOccurs="unbounded" type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelNumbersType">
      <xs:sequence>
         <xs:element name="ModelNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ManufacturerPartNumbersType">
      <xs:sequence>
         <xs:element name="ManufacturerPartNumber" minOccurs="1" maxOccurs="unbounded"
                     type="ProductUniversalIdentifierType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EansType">
      <xs:sequence>
         <xs:element name="EAN" minOccurs="1" maxOccurs="unbounded" type="EanType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UpcsType">
      <xs:sequence>
         <xs:element name="UPC" minOccurs="1" maxOccurs="unbounded" type="UpcType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IsbnsType">
      <xs:sequence>
         <xs:element name="ISBN" minOccurs="1" maxOccurs="unbounded" type="IsbnType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="EanType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8}"/>
         <xs:pattern value="[0-9]{13}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UpcType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{6}"/>
         <xs:pattern value="[0-9]{12}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="IsbnType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{8,12}[0-9X]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProductUniversalIdentifierType">
      <xs:restriction base="xs:string">
         <xs:pattern value="\S.*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="CategoryPageUrlsType">
      <xs:sequence>
         <xs:element name="CategoryPageUrl" minOccurs="1" maxOccurs="unbounded"
                     type="LocalizedUrlType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LocalizedStringType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="locale" type="LocaleType" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LocalizedUrlType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="locale" type="LocaleType" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ProductsType">
      <xs:sequence>
         <xs:element name="Product" type="ProductType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RatingDimensionType">
      <xs:all>
         <xs:element name="ExternalId" type="ExternalIdType"/>
         <xs:element name="RatingRange" type="xs:int"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Category" type="CategoryType"/>
   <xs:element name="Feed" type="FeedType"/>
   <xs:element name="Product" type="ProductType"/>
</xs:schema>