product-schema/old/src/main/resources/schemaorg_apache_xmlbeans/generated/v3.2/stories-display-3.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************ GENERATED CONTENT ************ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.bazaarvoice.com/xs/Stories/StoriesDisplay/3.2" targetNamespace="http://www.bazaarvoice.com/xs/Stories/StoriesDisplay/3.2"
           elementFormDefault="qualified">
   <xs:complexType name="AdditionalFieldsType">
      <xs:sequence>
         <xs:element name="AdditionalField" type="AdditionalFieldType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdditionalFieldType">
      <xs:all>
         <xs:element name="Value" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="CategoryLinksType">
      <xs:all>
         <xs:element name="WriteStoryLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="WriteStoryApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="StoriesSortLinks" type="SortLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="CategoryType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="CategoryPageUrl" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="NumStories" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="CategoryLinksType" minOccurs="0"/>
         <xs:element name="Stories" type="StoriesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="ContextDataDimensionType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValueType">
      <xs:all>
         <xs:element name="Label" type="xs:string"/>
         <xs:element name="ContextDataDimension" type="ContextDataDimensionType"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="ContextDataValuesType">
      <xs:sequence>
         <xs:element name="ContextDataValue" type="ContextDataValueType" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelType">
      <xs:all>
         <xs:element name="Site" type="SiteType"/>
         <xs:element name="Message" type="MessageType" minOccurs="0"/>
         <xs:element name="Product" type="ProductType" minOccurs="0"/>
         <xs:element name="Category" type="CategoryType" minOccurs="0"/>
         <xs:element name="ScrollToTop" type="xs:boolean" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="view" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="PagesLinksType">
      <xs:sequence>
         <xs:element name="Link" type="PageLinkType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PageLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="page" type="xs:int"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PhotoSizeType">
      <xs:attribute name="id" type="PhotoSizeTypeEnum"/>
      <xs:attribute name="url" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="PhotoSizesType">
      <xs:sequence>
         <xs:element name="Size" type="PhotoSizeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PhotoType">
      <xs:all>
         <xs:element name="Caption" type="xs:string" minOccurs="0"/>
         <xs:element name="Sizes" type="PhotoSizesType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="PhotosType">
      <xs:sequence>
         <xs:element name="Photo" type="PhotoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductLinksType">
      <xs:all>
         <xs:element name="WriteStoryLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="WriteStoryApiLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesFirstPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesPreviousPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesNextPageLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="StoriesAllPagesLinks" type="PagesLinksType" minOccurs="0"/>
         <xs:element name="StoriesSortLinks" type="SortLinksType" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="ProductType">
      <xs:all>
         <xs:element name="Name" type="xs:string" minOccurs="0"/>
         <xs:element name="Description" type="xs:string" minOccurs="0"/>
         <xs:element name="NumStories" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="Links" type="ProductLinksType" minOccurs="0"/>
         <xs:element name="Stories" type="StoriesType" minOccurs="0"/>
         <xs:element name="CategoryPath" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType" use="required"/>
   </xs:complexType>
   <xs:complexType name="StoryLinksType">
      <xs:all>
         <xs:element name="BrowseStoriesLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="PositiveFeedbackLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="NegativeFeedbackLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="InappropriateFeedbackLink" type="xs:anyURI" minOccurs="0"/>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="StoryType">
      <xs:all>
         <xs:element name="EnsureVisible" type="xs:boolean" minOccurs="0"/>
         <xs:element name="SubmissionTime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="NumFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumPositiveFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="NumNegativeFeedbacks" type="NonNegativeInt" minOccurs="0"/>
         <xs:element name="User" type="ReviewerType" minOccurs="0"/>
         <xs:element name="UserNickname" type="xs:string" minOccurs="0"/>
         <xs:element name="UserLocation" type="xs:string" minOccurs="0"/>
         <xs:element name="ContextDataValues" type="ContextDataValuesType" minOccurs="0"/>
         <xs:element name="Photos" type="PhotosType" minOccurs="0"/>
         <xs:element name="Title" type="xs:string" minOccurs="0"/>
         <xs:element name="StoryText" type="xs:string" minOccurs="0"/>
         <xs:element name="AdditionalFields" type="AdditionalFieldsType" minOccurs="0"/>
         <xs:element name="Links" type="StoryLinksType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="StoriesType">
      <xs:sequence>
         <xs:element name="Story" type="StoryType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="page" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="numPages" type="PositiveInt" use="optional" default="1"/>
      <xs:attribute name="sort" type="xs:string" use="optional"/>
      <xs:attribute name="direction" type="DirectionType" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ReviewerType">
      <xs:all/>
      <xs:attribute name="id" type="ExternalIdType"/>
   </xs:complexType>
   <xs:complexType name="MessageType">
      <xs:sequence>
         <xs:element name="ReturnLink" type="xs:anyURI" minOccurs="0"/>
         <xs:element name="MessageCode" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SiteType">
      <xs:all>
         <xs:element name="Locale" type="LocaleType"/>
         <xs:element name="InternalName" type="xs:string"/>
         <xs:element name="DisplayName" type="xs:string"/>
         <xs:element name="DomainName" type="xs:string"/>
         <xs:element name="RatingRange" type="xs:int"/>
         <xs:element name="StaticResourceBaseUrl" type="xs:anyURI"/>
         <xs:element name="SimpleContentBaseUrl" type="xs:anyURI"/>
         <xs:element name="ReferrerUrl" type="xs:string" minOccurs="0"/>
         <xs:element name="NonCachedPageUserAgentClass" type="UserAgentClassType" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="displayCode" type="DisplayCodeType" use="required"/>
   </xs:complexType>
   <xs:complexType name="SortLinksType">
      <xs:sequence>
         <xs:element name="SortLink" type="SortLinkType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SortLinkType">
      <xs:simpleContent>
         <xs:extension base="xs:anyURI">
            <xs:attribute name="sort" type="xs:string" use="required"/>
            <xs:attribute name="direction" type="DirectionType" use="required"/>
            <xs:attribute name="selected" type="xs:boolean"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="DirectionType">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="asc"/>
         <xs:enumeration value="desc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UserAgentClassType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNCHECKED"/>
         <xs:enumeration value="EXPLORER"/>
         <xs:enumeration value="SAFARI"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisplayCodeType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-zA-Z0-9_\-]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExternalIdType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^/]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="LocaleType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[a-z]{2}(_[A-Z]{2}(_[0-9a-zA-Z_]+)?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NonNegativeLong">
      <xs:restriction base="xs:long">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PhotoSizeTypeEnum">
      <xs:restriction base="xs:string">
         <xs:enumeration value="thumbnail"/>
         <xs:enumeration value="normal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PositiveInt">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Model" type="ModelType"/>
</xs:schema>